---
title: Code of Conduct of React Amsterdam
headerBtn: true
headerNav: [
{
text: 'Conference page',
href: '/'
}
]

footerNav: [
{
text: 'Back to conference website',
href: '/'
},
{
text: 'Sponsorship Opportunities',
href: '/sponsors'
},
{
text: 'Email Us!',
href: 'mailto:hi@react.amsterdam'
}
]

---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-coc.html" %}
  {% include "partials/_coc-content.html" %}
  {% include "partials/_footer.html" %}
</div>
{% endblock %}
