---
pageKey: extended

headerBtn: true

footerTitle: Follow us for updates


---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-extended.html" %}
  <section class="section program">
    <div class="container">
      <div class="program__inner">
        <div class="program__item program__item_mb-lg">
          <div class="program__subtitle program__subtitle_mb-lg">{{ pagesPieceOfTexts.extendedprogram__title }}</div>
          <p >{{ pages.extended.description }}</p>
        </div>
        <div class="program__item" id="meetups">
          <div class="program__title title-gradient">{{ pagesPieceOfTexts.preparties__title }}</div>
          <p>
            {{ pages.extended.pageSlogan }}
          </p>
        </div>
      </div>
      <div class="program-map">
        <div class="program-map__icon">
          <img alt="" src="img/map.png"/>
        </div>
        <div class="program-map__content">
          <div class="program-map-item">
            <div class="program-map-item__content">
              <div class="program-map-item__title">
                Building Realtime GraphQL & Serverless Apps<br/>
                <span class="program-map-item__time">April 9, 18:00</span>
              </div>
              <a href="https://reactamsterdam.slack.com/app_redirect?channel=ra19-april-9-gql" target="_blank" class="program-map-item__link">{{mixins.icon('sl')}} <span>#ra19-april-9-gql</span></a>
            </div>
            <div class="program-map-item__img">
              <img src="img/extended/hasura.png" alt=""/>
            </div>
            <div class="program-map-item__content">
              <a href="https://www.eventbrite.com/e/building-realtime-graphql-serverless-applications-a-workshop-by-hasura-tickets-59369864864#map-target" target="_blank">WeWork, Weesperstraat 61,<br> 1018 VN Amsterdam</a><br>
              <a href="https://www.eventbrite.com/e/building-realtime-graphql-serverless-applications-a-workshop-by-hasura-tickets-59369864864" target="_blank">Register Here</a><br>
            </div>
          </div>
          <div class="program-map-item">
            <div class="program-map-item__content">
              <div class="program-map-item__title">
                Community GraphQL Meetup<br/>
                <span class="program-map-item__time">April 10, 19:00</span>
              </div>
              <a href="https://reactamsterdam.slack.com/app_redirect?channel=ra19-april-10-gql" target="_blank" class="program-map-item__link">{{mixins.icon('sl')}} <span>#ra19-april-10-gql</span></a>
            </div>
            <div class="program-map-item__img">
              <img src="img/extended/graphql.png" alt=""/>
            </div>
            <div class="program-map-item__content">
              <a href="https://goo.gl/maps/A4MawXcdpwE2" target="_blank">Usabilla office, Floor 4,<br/> Rokin 16,
                1012 KR Amsterdam</a><br>
              <a href="https://www.meetup.com/JavaScript-Amsterdam/events/259670769/" target="_blank">Register Here</a><br>
            </div>
          </div>
          <div class="program-map-item">
            <div class="program-map-item__content">
              <div class="program-map-item__title">
                Official pre-party meetup<br/>
                <span class="program-map-item__time">April 11, 19:00</span>
              </div>
              <a href="https://reactamsterdam.slack.com/app_redirect?channel=ra19-apr-11-pre-party" target="_blank" class="program-map-item__link">{{mixins.icon('sl')}} <span>#ra19-apr-11-pre-party</span></a>
            </div>
            <div class="program-map-item__img">
              <a href="https://www.meetup.com/React-Amsterdam/events/259645795/" target="_blank"><img src="img/shutterstock_468891395.jpg" alt=""/></a>
            </div>
            <div class="program-map-item__content">
              <a href="https://goo.gl/maps/aDBHDoUBE5q" target="_blank">TQ, Singel 542,<br/>
                1017 AZ Amsterdam</a><br>
              <a href="https://www.meetup.com/React-Amsterdam/events/259645795/" target="_blank">Register Here</a><br>
            </div>
          </div>
        </div>
        <div class="program__inner" style="margin-top: 30px;">
          <div class="program__item">
            <p>{{ pagesPieceOfTexts.preevents__comment }}</p>
          </div>
        </div>
      </div>
      <div class="program__inner" id="party">
        <div class="program__item program__item_mb-xl">
          <div class="program__title title-gradient">{{ pagesPieceOfTexts.party__title }}</div>
          {{ pagesPieceOfTexts.party__text | safe }}

          <div class="program__img" style="background-image: url(img/program-img-1.jpg)">
            <!--<img src="img/program-img-1.jpg" alt=""/>-->
          </div>
        </div>
        <div class="program__item" id="tour-day">
          <div class="program__title title-gradient">{{ pagesPieceOfTexts.tourday__title }}</div>
          <p>
            {{ pagesPieceOfTexts.tourday__text }}
          </p>
          <div class="program__img-wrap">
            <!--<img src="img/program-img-2.jpg" alt=""/>-->
            <div class="program__img" style="background-image: url(img/program-img-2.jpg)"></div>
            <!--<img src="img/program-img-3.jpg" alt=""/>-->
            <div class="program__img" style="background-image: url(img/program-img-3.jpg)"></div>
          </div>
          {{ pagesPieceOfTexts.tourday__plan | safe }}
        </div>
      </div>
      <div class="program-map">
        <div class="program-map__icon">
          <img alt="" src="img/map.png"/>
        </div>
        <div class="program-map__content">
          <div class="program-map-item">
            <div class="program-map-item__content">
              <div class="program-map-item__title">
                Walking Tours
                <br/>
                <span class="program-map-item__time">April 13, 12:00</span>
              </div>
              <a href="https://reactamsterdam.slack.com/app_redirect?channel=ra19-tour-day" target="_blank" class="program-map-item__link">{{mixins.icon('sl')}} <span>#ra19-tour-day</span></a>
            </div>
            <div class="program-map-item__img">
              <img src="img/extended/amsterdam-waking.jpg" alt=""/>
            </div>
            <div class="program-map-item__content">
              <a href="https://guidedtoursamsterdam.com/classic-walking-tour-amsterdam/" target="_blank">Route information</a><br>
              Starting location TBD
            </div>
          </div>
          <div class="program-map-item">
            <div class="program-map-item__content">
              <div class="program-map-item__title">
                Boat Tours
                <br/>
                <span class="program-map-item__time">April 13, 12:00 and 14:00</span>
              </div>
              <a href="https://reactamsterdam.slack.com/app_redirect?channel=ra19-tour-day" target="_blank" class="program-map-item__link">{{mixins.icon('sl')}} <span>#ra19-tour-day</span></a>
            </div>
            <div class="program-map-item__img">
              <img src="img/extended/boat-tour.jpg" alt=""/>
            </div>
            <div class="program-map-item__content">
              <a href="https://drive.google.com/file/d/1rePAF0uT0OiNIxMtqfHbbaV6yjyHDaXj/view?usp=sharing" target="_blank">Route information</a><br>
              Starting location TBD
            </div>
          </div>
        </div>
        <div class="program__inner" style="margin-top: 30px;">
          <div class="program__item">
            {{ pagesPieceOfTexts.activities__email | safe }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "partials/_footer.html" %}
</div>
{% endblock %}
