---
pageKey: FAQ

headerBtn: true

faqs: [
	{
		sectionTitle: 'Tickets, invoices, refunds',
		items :[
			{
				question: "Can you issue an invoice for my order?",
				ansver: "<p>Yes, it is possible to pay via invoice. Please, send your company details to <a href='mailto:hi@amsterdamjs.com'>hi@amsterdamjs.com</a> and we will issue it for you:<br/>
				company name<br/>
				company address<br/>
				VAT number</p>
				<p>As soon as we receive the payment, we'll send you a promo-code to activate the tickets.</p>"
			},{
				question: "Does my ticket to the conference include workshops also?",
				ansver: "If your ticket states “Early Bird ticket”/”Regular ticket”/”Late Bird ticket”, it only includes a conference day pass. If your ticket states “Combo: Workshop + Conference Day”, it includes both conference day pass and a workshop."
			},{
				question: "How can I change the name in my ticket?",
				ansver: "You can easily change the name in the ticket in your Eventbrite account. Just log in and edit the attendee information. Pay attention that only a ticket buyer account can re-assign tickets."
			},{
				question: "If I can’t visit the conference, can I give the ticket to my friend/colleague?",
				ansver: "Yes, you can. Simply login to your eventbrite account and reassign the ticket to this person. Pay attention that only a ticket buyer account can re-assign tickets."
			},{
				question: "How can I add VAT to the eventbrite invoice?",
				ansver: "Go to your eventbrite account, click “edit”, add the VAT number in the corresponding box, resend confirmation email."
			},{
				question: "Do you provide refunds if my visa is not approved?",
				ansver: "Yes, we can make a refund if your visa for travel was not approved. Please send us the declining letter from the embassy or any other confirming documents."
			},{
				question: "Do you provide refunds if decided not to travel?",
				ansver: "No, we do not provide refunds in this case due to our policies. The reason of such non-refund policy is that we calculate and pre-pay for event facilities and catering in advance."
			}
		]
	},{
		sectionTitle: 'Discounts, diversity scholarship, etc.',
		items :[
			{
				question: "Do you have any discount for students?",
				ansver: "Yes, we can provide a student discount. Student ticket price is 150 EUR (excluding VAT).  Pease, send us a scan or a photo of your relevant students ID and we’ll issue a promocode for you."
			},{
				question: "Do you provide any group discounts?",
				ansver: "Yes, to get a group discount please choose “Team Ticket” on Eventbrite. And some extra discounts are possible when buying more than 10 tickets."
			},{
				question: "Do you provide any special tickets or discount for diversity groups?",
				ansver: "Yes, we do run a diversity scholarship program. Free diversity tickets are distributed via community channels and also via application form. Follow our <a href='https://medium.com/@amsterdamjs'>medium blog</a> for details."
			},{
				question: "I was selected for a Diversity scholarship, what does it include?",
				ansver: "It includes the conference day (not workshops), food at the conference and afterparty."
			}
		]
	},{
		sectionTitle: 'Visa',
		items :[
			{
				question: "Can you issue an invitation letter to apply for a visa?",
				ansver: "Yes, we can issue an invitation letter to make the process of getting visa easier. Please, send to hi@amsterdamjs.com the following details according to your travel document, as well as your ticket to the conference:<br/>
				<br/>
				First name:<br/>
				Last name:<br/>
				Date of birth:<br/>
				Nationality:<br/>
				Passport number:<br/>
				Date of issue:<br/>
				Expiration date:"
			}
		]
	},{
		sectionTitle: 'Organisational questions',
		items :[
			{
				question: "Where can I find all logistics and organisational information?",
				ansver: "You will get an email with all the information you’ll need at the conference about a week before the event. We will also add a link to a page with all organisational details to the website."
			},{
				question: "Do you have a kids corner at the event?",
				ansver: "Unfortunately we won't have facilities for kids this time."
			},{
				question: "Is there a place to store my luggage during the event?",
				ansver: "There always is a wardrobe/cloakroom but neither we, nor the venue can be held accountable for attendee belongings. For big pieces of luggage, we suggest to leave them in a hotel luggage room or special luggage lockers."
			}
		]
	},{
		sectionTitle: 'Food for conference attendees',
		items :[
			{
				question: "Do you serve any food at the events?",
				ansver: "Yes, we serve hot lunch and coffee/pastries/snacks both at the conference and the workshops."
			},{
				question: "Do you have vegetarian / vegan / gluten free options at the event and workshops?",
				ansver: "Yes, we have vegetarian, vegan and gluten-free food for lunch at the conference. As for workshops - please let us know in advance if you have any special meal preferences."
			}
		]
	},{
		sectionTitle: 'Other questions',
		items :[
			{
				question: "Can I join the conference as a volunteer?",
				ansver: "Yes, you can. Please, send us brief information about yourself: your experience in volunteering (optional) at conferences or any event organizing. Also please be sure that you’re going to be available on the day of the event and the day before it."
			},{
				question: "We are a community/also a tech conference. Could we collaborate with your conference?",
				ansver: "Yes, of course! We’d be happy if you become our info-partner. Please, drop us a line at <a href='mailto:hi@amsterdamjs.com'>hi@amsterdamjs.com</a> and we’ll get back to you with all the information."
			},{
				question: "What do I need to bring with me to the workshop?",
				ansver: "Laptop and charger."
			}
		]
	}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
	{% include "partials/_hero-faq.html" %}
	{% include "partials/_faq-content.html" %}
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
