---
title: React Amsterdam - The Biggest React Conference Worldwide
headerBtn: true
speakersTitle: Speakers
<!--speakersBtn: Call For Speakers-->
headerNav: [
  {
    text: 'ABOUT',
    href: '#event',
    scroll: true
  },
  {
    text: 'LOCATION',
    href: '#location',
    scroll: true
  },
  {
    text: 'Schedule',
    href: '#schedule',
    scroll: true
  },
  {
    text: 'OS AWARDS',
    href: '#awards',
    scroll: true
  },
  {
    text: 'DIVERSITY',
    href: '#diversity',
    scroll: true
  },
  {
    text: 'SPONSORS',
    href: '#sponsors',
    scroll: true
  },
  {
    text: 'WORKSHOPS',
    href: '/workshops'
  },
  {
    text: 'React Jobs',
    href: '/react-jobs'
  }
]

footerNav: [
  {
    text: 'Sponsorship Opportunities',
    href: '/sponsors'
  },
  {
    text: 'Code Of Conduct',
    href: '/coc'
  },
  {
    text: "Last year's event (2018)",
    href: '/2018'
  },
  {
    text: 'Email Us!',
    href: 'mailto:hi@react.amsterdam'
  }
]

speakers: [
  {
    photo: 'peggy.jpg',
    name: 'Peggy Rayzis',
    company: 'Apollo, USA',
    desc: "Peggy is an engineering manager at Apollo, where she leads a team focused on making the Apollo developer experience awesome. She's also an open source engineer, GraphQL Summit organizer, and an accomplished speaker who has delivered talks on GraphQL all around the world.",
    github: 'https://github.com/peggyrayzis',
    twitter: 'https://twitter.com/peggyrayzis'
  }, {
    photo: 'mark.jpg',
    name: 'Mark Dalgleish',
    company: 'Seek, Australia',
    desc: "Mark Dalgleish is the co-creator of CSS Modules, lead organiser of MelbJS, and Front-end Engineering Lead at SEEK. Having got his start with HTML and UI design at a young age, Mark has since developed a love of software engineering and open-source tooling, but always as a means to creating elegant, usable experiences.",
    github: 'https://github.com/markdalgleish',
    twitter: 'https://twitter.com/markdalgleish',
    medium: 'https://medium.com/@markdalgleish'
  }, {
    photo: 'kent.jpg',
    name: 'Kent C. Dodds',
    company: 'Trainer, USA',
    desc: "Kent C. Dodds is a world renowned speaker, teacher, and trainer and he's actively involved in the open source community as a maintainer and contributor of hundreds of popular npm packages. Kent is the creator of TestingJavaScript.com and he's an instructor on egghead.io and Frontend Masters. He's also a Google Developer Expert. Kent is happily married and the father of four kids. He likes his family, code, JavaScript, and React.",
    github: 'https://github.com/kentcdodds',
    twitter: 'https://twitter.com/kentcdodds',
    site: 'https://kentcdodds.com/'
  }, {
    photo: 'ashi.jpg',
    name: 'Ashi Krishnan',
    company: 'GitHub, UK',
    desc: "Ashi is a visual poet who has been telling stories with code and words since she was a child—perhaps before. She has worked at seven-person startups, fought fires in the trenches of SRE at Google, and spent the last three years teaching at coding bootcamps.",
    github: 'https://github.com/queerviolet',
    twitter: 'https://twitter.com/rakshesha',
    site: 'https://ashi.io/'
  }, {
    photo: 'florian.jpg',
    name: 'Florian Rival',
    company: 'Facebook, UK',
    desc: "Florian is a software engineer working at Facebook. He was an early adopter of React Native and open-sourced a few modules for it.
He is the author of GDevelop, an open-source game making software based on React, WebAssembly and JavaScript. He also made Lil BUB's Hello Earth, an 8-bit game starring the internet sensation cat, which available on desktop and mobile and powered by GDevelop and JavaScript.",
    github: 'https://github.com/4ian',
    twitter: 'https://twitter.com/florianrival',
    site: 'http://florianrival.com/'
  }, {
    photo: 'anna.jpg',
    name: 'Anna Doubková',
    company: 'Hive, UK',
    desc: "Anna is a javascript developer who loves working with new technologies. Currently working at Hive, she does full-stack development to deliver a great end to end solution focused on user experience. She's a frequent speaker, runs workshops, and likes contributing to the community.",
    github: 'https://github.com/lithin',
    twitter: 'https://twitter.com/lithinn',
  }, {
    photo: 'max.jpg',
    name: 'Max Stoiber',
    company: 'GitHub, Austria',
    desc: "Max is the technical cofounder of Spectrum.chat, the community platform of the future. He also makes styled-components, react-boilerplate, micro-analytics and a bunch of other open source projects and he co-organises the ReactVienna meetup. He loves to travel, to brew rad coffee and to ski beautiful mountains.",
    github: 'https://github.com/mxstbr',
    twitter: 'https://twitter.com/mxstbr',
    site: 'https://mxstbr.com/'
  }, {
    photo: 'elizabet.jpg',
    name: 'Elizabet Oliveira',
    company: 'Optum, Ireland',
    desc: "Elizabet Oliveira is a UX/UI Designer & Developer from Lisbon currently based in Dublin. She created a project called Cassette Tape, a Google Chrome experiment that explored the web audio API, which she presented at Google I/0 Dublin in 2016. She built and maintains the React-Kawaii library. This library won the award for Fun Side Project of the Year during the React Amsterdam Conference!",
    github: 'https://github.com/miukimiu',
    twitter: 'https://twitter.com/miuki_miu',
    site: 'https://www.miukimiu.com/'
  }, {
    photo: 'andrey.jpg',
    name: 'Andrey Okonetchnikov',
    company: 'Freelance, Austria',
    desc: "Andrey is a Russian-born UI developer with an experience in both design and development who specializes in interaction design, design systems and modern frontend development. Andrey is a co-organizer of ReasonConf, ReactVienna community, and co-creator of ColorSnapper — a macOS color picker, maintainer of several popular open source projects like react-dropzone and lint-staged. He loves mountain biking, snowboarding, and specialty coffee.",
    github: 'https://github.com/okonet',
    twitter: 'https://twitter.com/okonetchnikov',
    site: 'https://okonet.ru/'
  }, {
    photo: 'sid.jpg',
    name: 'Siddharth Kshetrapal',
    company: 'Independent Developer, India',
    desc: "Sid builds tools for developers. In the past, he worked on Design Systems at Auth0 and as the frontend architect at Practo. He loves talking about design, performance and open source.",
    github: 'https://github.com/siddharthkp',
    twitter: 'https://twitter.com/siddharthkp',
    site: 'https://sid.studio/'
  }, {
    photo: 'nader.jpg',
    name: 'Nader Dabit',
    company: 'Amazon AWS, USA',
    desc: "Nader has been developing with React Native for over 2.5 years. He has worked with and trained developers from fortune 500 companies like Amazon, Visa, American Express, and Microsoft, helping them to get up to speed with React Native as quickly as possible.",
    github: 'https://github.com/dabit3',
    twitter: 'https://twitter.com/dabit3',
    medium: 'https://medium.com/@dabit3',
  }, {
    photo: 'nparashuram.jpg',
    name: 'Parashuram N',
    company: 'Facebook, USA',
    desc: "React Native core member at Facebook, Serial Hacker and a Midnight Dog walker.",
    github: 'https://github.com/axemclion',
    twitter: 'https://twitter.com/nparashuram'
  }, {
    photo: 'timn.jpg',
    name: 'Tim Neutkens',
    company: 'ZEIT, Netherlands',
    desc: "Software Engineer at ZEIT. Lead maintainer of Next.js. Co-author of Next.js, MDX and Micro. Has a passion for creating scalable applications and improving developer experience.",
    github: 'https://github.com/timneutkens',
    twitter: 'https://twitter.com/timneutkens',
    site: 'http://www.timneutkens.nl/',
  }, {
    photo: 'vladimir.jpg',
    name: 'Vladimir Novick',
    company: 'Hasura, Israel',
    desc: "Developer advocate at hasura.io, Google Developer Expert, consultant, worldwide speaker, published author, host of the 3factorRadio podcast and OSS contributor. Currently, Vladimir works with Web, Mobile, VR, AR, and IoT technologies and advocates the use of GraphQL and serverless architectures as well as functional languages such as ReasonML.",
    github: 'https://github.com/vnovick',
    twitter: 'https://twitter.com/VladimirNovick',
    site: 'http://vnovick.com',
  }, {
    photo: 'maxg.jpg',
    name: 'Max Gallo',
    company: 'DAZN, UK',
    desc: "I’m a pasta eater biped working at DAZN with hands-on experience as a Full Stack Developer, iOS Developer, and UI/UX Designer. My areas of expertise are JavaScript and Front-End technologies. I like Functional & Reactive solutions both for programming and architectures. I use spaces, not tabs.",
    twitter: 'https://twitter.com/_maxgallo',
    github: 'https://github.com/maxgallo',
    site: 'https://maxgallo.io',
  }, {
    photo: 'ben.jpg',
    name: 'Ben Ellerby',
    company: 'Theodo, UK',
    desc: "Architect developer, working with startups to launch MVP's and large corporates to deliver in startup speed. Tech at heart, loving to code, participating in hackathons, guest lecturing as part of the University of Southampton CompSci Bsc course and acting as a tech advisor to multiple startups.",
    github: 'https://github.com/BenEllerby',
  }, {
    photo: 'wouter.jpg',
    name: 'Wouter van den Broek',
    company: 'Freelance, Netherlands',
    desc: "Wouter van den Broek is a dutch mobile and web developer currently working at Synappz Mobile Health and when not working there he does contract work for start-ups and big companies. He has build many apps, from Symbian to BlackBerry to iOS and Android and now on the endeavor with React Native. Always interested in the best and new solutions.",
    github: 'https://github.com/wbroek',
    twitter: 'https://twitter.com/wbroek',
  }, {
    photo: 'ankita.jpg',
    name: 'Ankita Kulkarni',
    company: 'Rangle.io, Canada',
    desc: "Senior Software Developer at Rangle.io in Toronto focused on building web applications for clients using modern JavaScript. Prior to Rangle.io, she was at IBM, Canada working at IBM Cloud Garage building web and mobile applications using artificial intelligence, IoT, modern JavaScript, and native languages for about 4 years in.",
    github: 'https://github.com/kulkarniankita',
    twitter: 'https://twitter.com/kulkarniankita9',
    site: 'https://medium.com/@kulkarniankita9',
  }, {
    photo: 'adam.jpg',
    name: 'Adam Terlson',
    company: 'InterNations, Germany',
    desc: "Adam is a software engineer currently working as the lead of mobile app development at InterNations, where he builds mobile apps with React Native.  Adam is also the organizer of React Munich and React Native Munich meetup groups.",
    github: 'https://github.com/adamterlson',
    twitter: 'https://twitter.com/adamterlson',
    site: 'https://medium.com/@adamterlson',
  },
  {
    photo: 'hakon.jpg',
    name: 'Håkon Gullord Krogh',
    company: 'Crystallize, Norway',
    desc: "Crystallize - Lead Frontend Architect. Frontend developer ever since jQuery was the cool kid on the street. Passionate about performance and usability.",
    github: 'https://github.com/hakonhk',
    twitter: 'https://twitter.com/hakonkrogh'
  },
  {
    photo: 'david.jpg',
    name: 'David Mark Clements',
    company: 'Nearform, Netherlands',
    desc: "Node.js performance specialist and the author of Node Cookbook. He is currently serving as Principal Architect with NearForm. David has been coding, speaking and writing about Node.js since Node 0.4 and has worked with frontend JavaScript for 20 years. Of note among David’s open source contributions is Pino, the fastest Node.js logger available and 0x, a JavaScript stack profiling tool.",
    github: 'https://github.com/davidmarkclements',
    twitter: 'https://twitter.com/davidmarkclem'
  },
  {
    photo: 'fernando.jpg',
    name: 'Fernando Porazzi',
    company: 'IJsberen, Netherlands',
    desc: "Head of front-end development at ijsberen.io. He has a special passion for high-performance React applications that fully leverage the capabilities of this powerful library. Recently converted to static type checking with Typescript.",
    github: 'https://github.com/fernandoporazzi'
  },
  {
    photo: 'gert.jpg',
    name: 'Gert Hengeveld',
    company: 'Xebia, Netherlands',
    desc: "Gert is a senior consultant at Xebia and has been building React applications since the early days. He's the author of React Async and a frequent speaker at meetups. In the past he organized the ReactNL conference.",
    github: 'https://github.com/ghengeveld',
    twitter: 'https://twitter.com/ghengeveld',
    site: 'https://medium.com/@ghengeveld'
  }
]

advicers: [
  {
    photo: 'vladimir.jpg',
    name: 'Vladimir Novick',
    company: 'GraphQL Expert, Hasura',
    desc: "Developer advocate at hasura.io, Google Developer Expert, consultant, worldwide speaker, published author, host of the 3factorRadio podcast and OSS contributor. Currently, Vladimir works with Web, Mobile, VR, AR, and IoT technologies and advocates the use of GraphQL and serverless architectures as well as functional languages such as ReasonML.",
    github: 'https://github.com/vnovick',
    twitter: 'https://twitter.com/VladimirNovick',
    site: 'http://vnovick.com',
  },
  {
    photo: 'kitze.jpg',
    name: 'Kitze',
    company: 'Hooks expert, ReactAcademy',
    desc: "Teaching React & Javascript at React Academy. Cares about open source, made and maintains sizzy.co, custom-react-scripts, and mobx-router. He had the chance to work and experiment with a variety of languages and frameworks.",
    github: 'https://github.com/kitze',
    twitter: 'https://twitter.com/thekitze  '
  },
  {
    photo: 'michel.jpg',
    name: 'Michel Weststrate',
    company: 'TypeScript expert and MobX author',
    desc: "Michel has been working with TypeScript full time for the last 3 years. He authored several open source libraries (such as MobX and MobX-state-tree) that are written in TypeScript and leverage some of it's finest features.",
    github: 'https://github.com/mweststrate',
    twitter: 'https://twitter.com/mweststrate',
    site: 'https://michel.codes'
  },
  {
    photo: 'andrey.jpg',
    name: 'Andrey Okonetchnikov',
    company: 'Design Systems expert',
    desc: "Andrey is a Russian-born UI developer with an experience in both design and development who specializes in interaction design, design systems and modern frontend development. Andrey is a co-organizer of ReasonConf, ReactVienna community, and co-creator of ColorSnapper — a macOS color picker, maintainer of several popular open source projects like react-dropzone and lint-staged. He loves mountain biking, snowboarding, and specialty coffee.",
    github: 'https://github.com/okonet',
    twitter: 'https://twitter.com/okonetchnikov',
    site: 'https://okonet.ru/'
  },
  {
    photo: 'mike.jpg',
    name: 'Mike Grabowski',
    company: 'React Native expert, Callstack',
    desc: "Head of Open Source at Callstack, React Native Core Contributor.",
    github: 'https://github.com/grabbou',
    twitter: 'https://twitter.com/grabbou',
    site: 'https://medium.com/@grabbou'
  }
]

eveningSpeakers: [
  {
    photo: '1.jpg',
    name: 'Michel Weststrate',
    company: 'Mendix, Rotterdam',
    desc: "Front End Engineer with a passion for beautiful UIs.",
    github: '#',
    twitter: '#',
    medium: '#'
  }, {
    photo: 'alex.jpg',
    name: 'Alex Castillo',
    company: 'Netflix, USA',
    desc: "Director of Open Source at Formidable and the author of libraries like Slick Carousel, McFly, react-music, webpack-dashboard, Spectacle.",
    github: '#',
    twitter: '#'
  }, {
    photo: 'ken.jpg',
    name: 'Ken Wheeler',
    company: 'Formidable, USA',
    desc: "Front-end web/mobile developer working on Expo and React Native.",
    github: '#',
  }, {
    photo: 'michele.jpg',
    name: 'Michele Bertoli',
    company: 'Facebook, UK',
    desc: "Chief visioner officer at Primelphants. React Adept. Ableton lover and podcaster. He helps FinTech projects leverage their frontend development.",
    github: '#',
    twitter: '#',
    medium: '#'
  }, {
    photo: 'tereza.jpg',
    name: 'Tereza Sokol',
    company: 'NoRedInk, Denmark',
    desc: "Tereza is an engineer at NoRedInk working on the Elm frontend as well as the developer of elm-plot, a plotting library written purely in Elm.",
    github: '#',
    twitter: '#',
  }, {
    photo: 'forbes.jpg',
    name: 'Forbes Lindesay',
    company: 'Facebook, UK',
    desc: "Head of Open Source, React Native Core Contributor.",
    github: '#',
    twitter: '#',
  }, {
    photo: 'jessica.jpg',
    name: 'Jessica Chan',
    company: 'Pinterest, USA',
    desc: "Tracy is a speaker, writer, and serial entrepreneur passionate about JavaScript and new technologies. Loves open source projects, pairing with friends, and empowering people to do awesome things. Tracy is also an organizer of ng-cruise and track chair for QCon.",
  }
]

scheduleList: [
  {
    title: 'General Track',
    active: true,
    schedule: [
      {
        time: '07.30',
        author: 'Registration',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '08.00',
        author: 'Welcome Breakfast',
        lastColMod: 's-item__col_d-sm-none'
      },{
        time: '09.00',
        author: 'Conference Opening',
        lastColMod: 's-item__col_d-sm-none'
      },{
        time: '09.20',
        author: 'Kent C. Dodds',
        company: 'Trainer, USA',
        theme: 'Requisite React',
        text: "React is a brilliant JavaScript library for building simple and complex user interfaces. In our eagerness to apply React to our most complex of problems and ship solutions today, we can get lost in the 🌲🌲🌲 forest of abstractions 🌲🌲🌲. When it comes to leveling up our skills in anything, I find the most effective method is to take a step back and understand the foundational fundamentals. To strip away all abstraction until what we're left with is the bare bones. <a href='https://twitter.com/kentcdodds/status/1074724545003581440' target='_blank'>The better you understand an abstraction, the more effective you will be at using it.</a> In this talk, we'll get more effective at using React Hooks, React Suspense, and JSX."
      },{
        time: '09.50',
        author: 'Siddharth Kshetrapal',
        company: 'Independent Developer, India',
        theme: 'Refactoring React',
        text: "<p>React on it’s own has a very small API surface. Most of the magic happens in user-land.</p>
<p>But, there's a lot out there: Higher order components, Render props, Compound components? Provider methods? Learn which component pattern will make your codebase better in which use case.</p>"
      },{
        time: '10.20',
        author: 'Coffee break',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '10.50',
        author: 'Mark Dalgleish',
        company: 'Seek, Australia',
        theme: 'Designing with React',
        text: "Thanks to React's component-oriented architecture, the React community has been naturally gravitating towards design systems as a way of standardising our respective design languages into reusable components. When done successfully, it suddenly becomes trivial to translate standard designs into code. In fact, we may even find that this translation step starts to feel somewhat redundant. In a world of components, how should our design processes change? How should our tooling change? How should we, as React developers, better enable this change? In this talk, we'll look at the current state of design and development, and where we could go—if we're willing to push for it."
      },{
        time: '11.20',
        author: 'Andrey Okonetchnikov',
        company: 'Freelance, Austria',
        theme: 'A Common Design Language. Let Designers and Developers talk to each other',
    text: '<p>“Should designers code?” or “Should coders design?”—these two eternal questions are being asked for years with no particular answer given.</p>
<ul style="margin: 10px 0 10px;">
<li>- How to let developers know what typography style or button variance they should be using on this particular screen?</li>
<li>- How to ensure that the whole UI is consistent?</li>
<li>- How to let designers know that some screen design doesn’t fit the requirements and needs to be updated?</li>
  </ul>
<p>In order to answer those questions designers and developers have to speak the same language. But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.</p>'
      },{
        time: '11.50',
        author: 'Lightning talks',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '12.20',
        author: 'Lunch Break'
      },{
        time: '13.20',
        author: 'GitNation Open Source Stage'
      },{
        time: '13.50',
        author: 'Max Stoiber',
        company: 'GitHub, Austria',
        theme: 'Tech Regrets at Spectrum',
        text: "Spectrum is an open source chat app for large online communities and was recently acquired by GitHub. We are a team of three with a predominantly frontend and design background and have worked on it for close to two years. With the benefit of hindsight, let's talk about the technology choices I regret and the lessons I have learned."
      },{
        time: '14.20',
        author: 'Max Gallo',
        company: 'DAZN, UK',
        theme: 'Scaling Applications with Microfrontends',
        text: "<p>Once upon a time, you had one Single Page Application using a Monolith Backend that relies on a Database. Then you started getting some users and suddenly you needed multiple instances of your Monolith Backend and more replicas of your Database. Your user base kept growing and also your development team was growing, so you split your Monolith backend into Microservices with their own Databases.</p><p>You’re very happy about the situation until you realize that the same problem you had on the backend it’s now on the frontend. Multiple teams are working on the same codebase, it’s hard to do frequent releases and there’re a lot of cross-team communications that slow things down.</p><p>At DAZN we battle-tested the Microfrontends architecture leveraging feature like blue-green deployments in the frontend, framework agnostic teams and drastically reduced cross-team dependencies.</p>"
      },{
        time: '14.50',
        author: 'Elizabet Oliveira',
        company: 'Optum, Ireland',
        theme: "An SVG’s Tale",
        text: "<p>Developers and designers don’t often use all SVG superpowers in their React applications.</p>
<p>This way, to drive your inspiration, I am going to tell you the story of an SVG image that one day made a very special friend - ReactJS. Alone and despised by its family, SVG yelled Enough! Now you’ll see what I’m all about!. And with this epic scream, little SVG unveiled all its superpowers. She took her friend React and they showed the world how to come up with creative solutions together. </p>"
      },{
        time: '15.20',
        author: 'Coffee break',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '15.50',
        author: 'React Open Source Awards',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '16.10',
        author: 'Peggy Rayzis',
        company: 'Apollo, USA',
        theme: 'The GraphQL developer experience',
        text: "Data fetching makes up a large part of our React apps, yet it's also some of the most complex code we write. GraphQL can help us reduce this complexity, especially when it's combined with intelligent tooling. In this talk, we'll explore how to achieve a friction-free state management experience with GraphQL and Apollo right inside your editor."
      },{
        time: '16.40',
        author: 'Ashi Krishnan',
        company: 'GitHub, UK',
        theme: 'Painting Pixels with WebGL with React Hooks',
        text: "<p>WebGL lets you unlock the power of your GPU. In principle, you can paint almost anything you can dream of. In practice, WebGL is hard, and though projects like three.js make it easier, there are still a lot of hurdles to integrating it into your site in a practical way.</p>
<p>Let's explore how Hooks can make it easier to integrate powerful GPU-driven visuals into our React apps, giving us the best of both worlds: the power of WebGL with the ease and expressiveness of a React component tree.</p>"
      },{
        time: '17.10',
        author: 'Talks section closing and announcements',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '17.30',
        author: 'Food Truck Break',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '19:00',
        author: '<a href="/extended#party">React Party</a>, schedule in goodie bag booklet',
        lastColMod: 's-item__col_d-sm-none',
      }
    ]
  },
  {
    title: 'React Native Track',
    schedule: [
      {
        time: '09.20',
        author: 'Parashuram N',
        company: 'Facebook, USA',
        theme: 'Building React Native',
        text: "<p>React Native is a great way to build native apps for iOS, Android and other mobile platforms. In this talk, we will look at the internals of React Native, and how code written in JavaScript can power a fully native mobile application. We will look at the various parts of the current system like the bridge, the UI manager and the plugins. We will also touch upon the rendering process and compare it to React’s rendering on the web. </p>
<p>We will look at some of the new and exciting improvements (like Fabric, TurboModules and JSI) and talk about how they significantly improve React Native. This talk stems from my experiences as a web-developer newbie on the React Native team, and is an attempt to document my journey in comprehending the code base. At the end of the talk, the attendees will not only be able to build React Native apps, but also understands how it all works together.</p>"
      },{
        time: '09.50',
        author: 'Anna Doubková',
        company: 'Hive, UK',
        theme: 'Practical Performance for React (Native)',
        text: "There are quite a few theoretical concepts of writing good a React application, including popular functional programming approaches. However, few take into consideration the impacts these will have on performance of the application. In this talk you’ll find out how some commonly used patterns have an adverse effect on the speed of your app, and how to avoid using them. We’ll mainly explore UI and state management but we’ll also dive into some native-specific issues and look at how to prevent them."
      },{
        time: '10.20',
        author: 'Coffee break',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '10.50',
        author: 'Ben Ellerby',
        company: 'Theodo, UK',
        theme: 'Sharing Code Between React and React-Native: What Not to Share',
        text: "<p>React and React-Native allow a learn once write anywhere paradigm. This is great, because one tech team can build both your web app and native mobile experience. The problem is developers hate writing things twice. There have been a couple of efforts to build a unifying technology to write an application once and have it work on both web and native. Yet this is not always the best approach. There is value in only sharing your business and state logic; keeping your render code separate.</p>
<p>In this talk I will give real examples from my work with MADE.COM, migrating their web and mobile application to React and React-Native with code sharing as a primary objective.</p>"
      },{
        time: '11.20',
        author: 'Wouter van den Broek',
        company: 'Freelance, Netherlands',
        theme: 'Building for a Bigger World Than Mobile',
        text: "<p>React Native is great for mobile applications on iOS and Android but there is more in the world of native app development. React Native can be used to get your app on the Windows and Mac OS X platform. And why not Elektron or even newer Marzipan to get your app to the other platforms or can you combine these technics to get a good app as result.</p>
<p>In this talk you wil see how to get React Native to the Windows and Mac OS X platform, what the advantages and disadvantages are with these setups  and what you can do to get the best results for your App</p>"
      },{
        time: '11.50',
        author: 'Panel discussion with Advice Lounge members'
      },{
        time: '12.20',
        author: 'Lunch Break'
      },{
        time: '13.50',
        author: 'Ankita Kulkarni',
        company: 'Rangle.io, Canada',
        theme: 'Make Your React Native Apps Accessible',
        text: "<p>Did you know React Native has accessibility rules?  In this talk, I will show you why accessibility matters, what those rules are, accessibility standards your app falls into, common patterns to follow and how to get over your fear of voice-over.</p>
<p>By making our apps accessible, we provide a great experience for all our users. This talk is sure to leave you with actionable ways in making your apps accessible. Let’s make this native world a better and inclusive place for everyone.</p>"
      },{
        time: '14.20',
        author: 'Florian Rival',
        company: 'Facebook, UK',
        theme: 'Native Web Apps: React and WebAssembly to Rewrite Native Apps',
        text: "<p>Can React and web technologies compete with native toolkits when it comes to making super complex, rich desktop apps? Can we go further and create better-than-native applications? 🤔 Sounds like a good challenge! </p>
<p>This talk introduces how React, JavaScript and WebAssembly can be used to write new ambitious apps, or port existing ones - with real world examples! I'll show how to leverage the React ecosystem to create performant applications: architecture, patterns, typing, useful open-source modules and tooling... and how to go one step further and provide a better user experience as well as a better developer experience.</p>
<p>These apps are not web apps, they are not native apps, they are hybrid 'Native Web Apps' and can provide the best of both worlds.</p>"
      },{
        time: '14.50',
        author: 'Nader Dabit',
        company: 'Amazon AWS, USA',
        theme: 'Full-stack React Native in the Era of Serverless Computing',
        text: "<p>With the emergence of more & more powerful & sophisticated managed services like Algolia, AWS AppSync, Cloudinary, Auth0, Amazon Rekognition & Firebase it's now completely possible for front-end engineers to build full-stack web & mobile applications while with almost no back-end code, relying on these services to do the heavy lifting for features like data layers, search, authentication, & authorization & using serverless glue functions to handle what’s left.</p>
<p>In this talk, I'll talk about this philosophy in depth, discuss the options available from different service providers, & then show how (live-code) to build a full-stack React Native application in just a few minutes by using React & AWS Amplify React Native to quickly build a real-world app complete with a GraphQL API, analytics, search, authentication & authorization.</p>"
      },{
        time: '15.20',
        author: 'Coffee break',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '16.10',
        author: 'Vladimir Novick',
        company: 'Hasura, Israel',
        theme: 'Demystifying Complex Animations Creation Process in React Native',
        text: "<p>While Animations can be created in React Native pretty easily, real world mobile apps require a combination of several layers of animations, gestures and micro interaction animations to make user experience stand out. In this talk we will walk through the process from defining complex animation, to implementing it by going through all stages of animation creation process</p>"
      },{
        time: '16.40',
        author: 'Adam Terlson',
        company: 'InterNations, Germany',
        theme: 'React Native App Rollout—an Alternative Approach',
        text: "<p>Building an app destined for production is a daunting task, especially to replace existing legacy apps available for download in the App and Play Store.  We could have pursued a typical release strategy—instead, we got creative with React Native.</p>
<p>We built a strangler-style architecture, a technique commonly reserved for web services, to release our greenfield React Native product user-by-user. The effect was some pretty unique and awesome advantages to how we built and tested our new app—but software is never perfect.</p>"
      }
    ]
  }
]

talks: [{
    author: 'Tim Neutkens',
    company: 'ZEIT, Netherlands',
    theme: 'Next for Next.js',
text: "<p>Next.js is one of the most convenient and powerful ways of developing React apps on the web. With powerful features out of the box such as code-splitting, server-side rendering and powerful optimizations, this talk discusses the exciting next steps for Next.js.</p>"
  },{
    author: 'Gert Hengeveld',
    company: 'Xebia, Netherlands',
    theme: 'Fetch like a boss with React Async',
    text: "<p>Data fetching is a very common operation in React applications. Making HTTP requests is easy, but have you considered every edge-case and how to properly hook into the React lifecycle? This lightning talk will show you how React Async makes your life easier.</p>"
  },{
    author: 'Håkon Gullord Krogh',
    company: 'Crystallize, Norway',
    theme: 'Lightning fast SSR React apps with top perceived performance and no (client side) JavaScript',
    text: "<p>Netflix changed their frontpage a while back to only serve HTML, CSS and a small amount of Js. Let’s have a look on how you can do the same with Next.js, and if the principles still apply today. Is the user getting a better perceived experience when we turn off the client side JavaScript?</p>"
  },{
    author: 'David Mark Clements',
    company: 'Nearform',
    theme: 'Speeding up React SSR',
    text: "<p>React is a hugely popular frontend framework that revolutionized the frontend development world. React is built primarily for the browser, while Node has fundamentally different operational constraints to the browser. As a Principal Architect and Consultant it has become painfully clear that React’s Server Side Rendering (SSR) is a performance bottleneck for web backends around the world. This talk demonstrates a very simple solution that can be dropped into pre-existing React applications to vastly improve the throughput of an SSR Node server (around 20-40x+).</p>"
  },{
    author: 'Fernando Porazzi',
    company: 'IJsberen, Netherlands',
    theme: 'Demystifying server-rendered React apps: Performance & Security',
    text: "<p>During this lightning talk, let's walk through the pros and cons of server-rendered applications, when you want to have it and what you can expect.</p>"
  }
]
sponsorsDescription: true
sponsors: [
  {
    title: 'Platinum',
    mod: 'sponsors-block_xl',
    list: [
      {
        link: 'https://www.dazn.com/',
        name: 'Dazn',
        logo: 'dazn.png',
        width: '280'
      }
    ]
  },
  {
    title: 'Production Partners',
    mod: 'sponsors-block_lg',
    list: [
      {
        link: 'https://www.ag-grid.com/best-react-data-grid/?utm_source=sponsorships&utm_medium=web&utm_campaign=react-amsterdam',
        name: 'ag-Grid',
        logo: 'aggrid.png?v2',
        width: '300'
      },{
        link: 'https://focusreactive.com?utm_source=sponsorships&utm_content=sponsor_link&utm_medium=partner_website&utm_source=react-amsterdam',
        name: 'FocusReactive',
        logo: 'fr-text.png',
        width: '300'
      }
    ]
  },
  {
    title: 'Gold',
    mod: 'sponsors-block_lg',
    list: [
      {
        link: 'https://www.evolutiongaming.com/',
        name: 'Evolution Gaming',
        logo: 'eg-inverted.png?v2',
        width: '300'
      },{
        link: 'https://aws.amazon.com/',
        name: 'Amazon Web Service',
        logo: 'aws.png?v2',
        width: '300'
      },{
        link: 'https://www.skyscanner.net',
        name: 'Skyscanner',
        logo: 'skyscanner.png',
        width: '300'
      },{
        link: 'https://crystallize.com/',
        name: 'Crystallize',
        logo: 'сrystallize.svg',
        width: '300'
      },{
        link: 'https://xebia.com/',
        name: 'Xebia',
        logo: 'xebia.png?v2',
        width: '300'
      },{
        link: 'https://www.linkit.nl/',
        name: 'Linkit',
        logo: 'linkit-inverted.png',
        width: '350'
      },{
        link: 'https://nedap.com/',
        name: 'Nedap',
        logo: 'nedap.png',
        width: '350'
      },{
        link: 'https://ijsberen.io/',
        name: 'IJsberen',
        logo: 'ijsberen.png',
        width: '200'
      },{
        link: 'https://www.nearform.com/',
        name: 'NearForm',
        logo: 'nearform-white.png',
        width: '350'
      },{
        link: 'https://www.telerik.com/kendo-react-ui',
        name: 'Progress',
        logo: 'progress.svg',
        width: '350'
      },{
        link: 'https://rangle.io',
        name: 'Rangle',
        logo: 'rangle-white.png',
        width: '350'
      }
    ]
  },
  {
    title: 'Silver',
    mod: 'sponsors-block_md',
    list: [
      {
        link: 'https://www.honeypot.io/',
        name: 'Honeypot',
        logo: 'honeypot.png',
        width: '250'
      },{
        link: 'https://www.messagebird.com/',
        name: 'MessageBird',
        logo: 'mb.png',
        width: '220'
      },{
        link: 'https://picnic.app',
        name: 'Picnic',
        logo: 'picnic.png',
        width: '110'
      },
      {
        link: 'http://theodo.com/',
        name: 'theodo',
        logo: 'theodo.png',
        width: '100'
      },
      {
        link: 'https://www.elsevier.com/',
        name: 'Elsevier',
        logo: 'elsevier.png',
        width: '220'
      },
      {
        link: 'https://www.edcast.com/',
        name: 'leapest',
        logo: 'edcast-singular.png',
        width: '180'
      },
      {
        link: 'https://www.veepee.uk/en/',
        name: 'vptech',
        logo: 'vptech.png',
        width: '220'
      },
      {
        link: 'http://axept.com/',
        name: 'axept',
        logo: 'axept.svg',
        width: '180'
      }
    ]
  },
  {
    title: 'Partners',
    mod: 'sponsors-block_sm',
    list: [
      {
        link: 'https://www.stickermule.com/eu/uses/laptop-stickers?utm_source=sponsorship&utm_medium=referral&utm_campaign=ReactAmsterdam19',
        name: 'stickermule',
        logo: 'stickermule.svg',
        width: '170'
      },
      {
        link: 'https://hackages.io/',
        name: 'hackages',
        logo: 'hackages.png',
        width: '170'
      },{
        link: 'http://fiber-space.nl/',
        name: 'fiber',
        logo: 'fiber.svg',
        width: '150'
      },
      {
        link: 'http://www.unicornsintech.com/',
        name: 'unicornsintech',
        logo: 'unicornsintech.png',
        width: '150'
      },
      {
        link: 'https://facebook.com/',
        name: 'fb',
        logo: 'fb.png',
        width: '160'
      },
      {
        link: 'https://reactnewyork.com',
        name: 'react_new_york',
        logo: 'react_new_york_logo.svg',
        width: '100'
      },
      {
        link: 'https://ngvikings.org',
        name: 'ngVikings ',
        logo: 'ngVikings.png',
        width: '200'
      },
      {
        link: 'https://react-finland.fi/#partners',
        name: 'react_finland',
        logo: 'react_finland.svg',
        width: '100'
      },
      {
        link: 'https://www.moscowjs.ru',
        name: 'MoscowJS',
        logo: 'moscow-js.svg',
        width: '80'
      },
      {
        link: 'https://piterjs.org/',
        name: 'PiterJS',
        logo: 'piterjs.svg',
        width: '80'
      },
      {
        link: 'https://reactjs.academy',
        name: 'reactjs.adademy',
        logo: 'reactacademy-medium.png',
        width: '200'
      },
      {
        link: 'https://react-native.eu',
        name: 'ReactNativeEU',
        logo: 'react-native-eu.svg',
        width: '250'
      }
    ]
  },
  {
    title: 'Media Partners',
    mod: 'sponsors-block_sm',
    list: [
      {
        link: 'https://spec.fm/',
        name: 'spec',
        logo: 'spec.svg',
        width: '150'
      },{
        link: 'https://changelog.com/',
        name: 'changelog',
        logo: 'changelog.svg',
        width: '170'
      }
    ]
  },
]


---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}
<div class="main js-main">
	{% include "partials/_hero.html" %}
	{% include "partials/_event.html" %}
	{% include "partials/_media.html" %}
	{% include "partials/_contact-form.html" %}
	{% include "partials/_location.html" %}
  {% include "partials/_fleet.html" %}
	{% include "partials/_speakers.html" %}
	{% include "partials/_advicers.html" %}
	<!--{% include "partials/_evening-programme.html" %}-->
	{% include "partials/_MCs.html" %}
	{% include "partials/_schedule.html" %}
	{% include "partials/_talks.html" %}
	{% include "partials/_extended-program.html" %}
	{% include "partials/_awards.html" %}
	{% include "partials/_back-to-community.html" %}
	{% include "partials/_sponsors.html" %}
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
