---
title: React Amsterdam - The Biggest React Conference Worldwide
headerBtn: true
speakersTitle: Speakers
<!--speakersBtn: Call For Speakers-->
headerNav: [
  {
    text: 'ABOUT',
    href: '#event',
    scroll: true
  },
  {
    text: 'LOCATION',
    href: '#location',
    scroll: true
  },
  {
    text: 'SPEAKERS',
    href: '#speakers',
    scroll: true
  },
  {
    text: 'TALKS',
    href: '#talks',
    scroll: true
  },
  {
    text: 'OS AWARDS',
    href: '#awards',
    scroll: true
  },
  {
    text: 'DIVERSITY',
    href: '#diversity',
    scroll: true
  },
  {
    text: 'SPONSORS',
    href: '#sponsors',
    scroll: true
  },
  {
    text: 'WORKSHOPS',
    href: '/workshops'
  }
]

footerNav: [
  {
    text: 'Sponsorship Opportunities',
    href: '/sponsors'
  },
  {
    text: 'Code Of Conduct',
    href: '/coc'
  },
  {
    text: "Last year's event (2018)",
    href: '/2018'
  },
  {
    text: 'Email Us!',
    href: 'mailto:hi@react.amsterdam'
  }
]

speakers: [
  {
    photo: 'peggy.jpg',
    name: 'Peggy Rayzis',
    company: 'Apollo, USA',
    desc: "Peggy is an engineering manager at Apollo, where she leads a team focused on making the Apollo developer experience awesome. She's also an open source engineer, GraphQL Summit organizer, and an accomplished speaker who has delivered talks on GraphQL all around the world.",
    github: 'https://github.com/peggyrayzis',
    twitter: 'https://twitter.com/peggyrayzis'
  }, {
    photo: 'mark.jpg',
    name: 'Mark Dalgleish',
    company: 'Seek, Australia',
    desc: "Mark Dalgleish is the co-creator of CSS Modules, lead organiser of MelbJS, and Front-end Engineering Lead at SEEK. Having got his start with HTML and UI design at a young age, Mark has since developed a love of software engineering and open-source tooling, but always as a means to creating elegant, usable experiences.",
    github: 'https://github.com/markdalgleish',
    twitter: 'https://twitter.com/markdalgleish',
    medium: 'https://medium.com/@markdalgleish'
  }, {
    photo: 'kent.jpg',
    name: 'Kent C. Dodds',
    company: 'PayPal, USA',
    desc: "Kent C. Dodds works at PayPal as a full stack JavaScript engineer. He represents PayPal on the TC39. He's actively involved in the open source community. Kent is the creator of TestingJavaScript.com and he's an instructor on egghead.io and Frontend Masters. He's also a Google Developer Expert. Kent is happily married and the father of four kids. He likes his family, code, JavaScript, and React.",
    github: 'https://github.com/kentcdodds',
    twitter: 'https://twitter.com/kentcdodds',
    site: 'https://kentcdodds.com/'
  }, {
    photo: 'ashi.jpg',
    name: 'Ashi Krishnan',
    company: 'GitHub, UK',
    desc: "Ashi is a visual poet who has been telling stories with code and words since she was a child—perhaps before. She has worked at seven-person startups, fought fires in the trenches of SRE at Google, and spent the last three years teaching at coding bootcamps.",
    github: 'https://github.com/queerviolet',
    twitter: 'https://twitter.com/rakshesha',
    site: 'https://ashi.io/'
  }, {
    photo: 'florian.jpg',
    name: 'Florian Rival',
    company: 'Facebook, UK',
    desc: "Florian is a software engineer working at Facebook. He was an early adopter of React Native and open-sourced a few modules for it.
He is the author of GDevelop, an open-source game making software based on React, WebAssembly and JavaScript. He also made Lil BUB's Hello Earth, an 8-bit game starring the internet sensation cat, which available on desktop and mobile and powered by GDevelop and JavaScript.",
    github: 'https://github.com/4ian',
    twitter: 'https://twitter.com/florianrival',
    site: 'http://florianrival.com/'
  }, {
    photo: 'anna.jpg',
    name: 'Anna Doubková',
    company: 'Hive, UK',
    desc: "Anna is a javascript developer who loves working with new technologies. Currently working at Hive, she does full-stack development to deliver a great end to end solution focused on user experience. She's a frequent speaker, runs workshops, and likes contributing to the community.",
    github: 'https://github.com/lithin',
    twitter: 'https://twitter.com/lithinn',
  }, {
    photo: 'max.jpg',
    name: 'Max Stoiber',
    company: 'Spectrum, Austria',
    desc: "Max is the technical cofounder of Spectrum.chat, the community platform of the future. He also makes styled-components, react-boilerplate, micro-analytics and a bunch of other open source projects and he co-organises the ReactVienna meetup. He loves to travel, to brew rad coffee and to ski beautiful mountains.",
    github: 'https://github.com/mxstbr',
    twitter: 'https://twitter.com/mxstbr',
    site: 'https://mxstbr.com/'
  }, {
    photo: 'elizabet.jpg',
    name: 'Elizabet Oliveira',
    company: 'Optum, Ireland',
    desc: "Elizabet Oliveira is a UX/UI Designer & Developer from Lisbon currently based in Dublin. She created a project called Cassette Tape, a Google Chrome experiment that explored the web audio API, which she presented at Google I/0 Dublin in 2016. She built and maintains the React-Kawaii library. This library won the award for Fun Side Project of the Year during the React Amsterdam Conference!",
    github: 'https://github.com/miukimiu',
    twitter: 'https://twitter.com/miuki_miu',
    site: 'https://www.miukimiu.com/'
  }, {
    photo: 'andrey.jpg',
    name: 'Andrey Okonetchnikov',
    company: 'Freelance, Austria',
    desc: "Andrey is a Russian-born UI developer with an experience in both design and development who specializes in interaction design, design systems and modern frontend development. Andrey is a co-organizer of ReasonConf, ReactVienna community, and co-creator of ColorSnapper — a macOS color picker, maintainer of several popular open source projects like react-dropzone and lint-staged. He loves mountain biking, snowboarding, and specialty coffee.",
    github: 'https://github.com/okonet',
    twitter: 'https://twitter.com/okonetchnikov',
    site: 'https://okonet.ru/'
  }, {
    photo: 'sid.jpg',
    name: 'Siddharth Kshetrapal',
    company: 'Auth0, India',
    desc: "Sid builds Design Systems with React at Auth0 and loves talking about design, performance and open source. He runs frontend.army on the side and co-organises React Bangalore. For fun, he likes to play football and surf.",
    github: 'https://github.com/siddharthkp',
    twitter: 'https://twitter.com/siddharthkp',
    site: 'https://sid.studio/'
  }, {
    photo: 'nader.jpg',
    name: 'Nader Dabit',
    company: 'Amazon AWS, USA',
    desc: "Nader has been developing with React Native for over 2.5 years. He has worked with and trained developers from fortune 500 companies like Amazon, Visa, American Express, and Microsoft, helping them to get up to speed with React Native as quickly as possible.",
    github: 'https://github.com/dabit3',
    twitter: 'https://twitter.com/dabit3',
    medium: 'https://medium.com/@dabit3',
  }, {
    photo: 'nparashuram.jpg',
    name: 'Parashuram N',
    company: 'Facebook, USA',
    desc: "React Native core member at Facebook, Serial Hacker and a Midnight Dog walker.",
    github: 'https://github.com/axemclion',
    twitter: 'https://twitter.com/nparashuram'
  }, {
    photo: 'timn.jpg',
    name: 'Tim Neutkens',
    company: 'Zeit, Netherlands',
    desc: "Software Engineer at ZEIT. Lead maintainer of Next.js. Co-author of Next.js, MDX and Micro. Has a passion for creating scalable applications and improving developer experience.",
    github: 'https://github.com/timneutkens',
    twitter: 'https://twitter.com/timneutkens',
    site: 'http://www.timneutkens.nl/',
  }, {
    photo: 'vladimir.jpg',
    name: 'Vladimir Novick',
    company: 'Consultant, Israel',
    desc: "Google Developer Expert, independent consultant, worldwide speaker, entrepreneur, Author of 'React Native - Build mobile apps with JavaScript' book and several workshops and courses. He brings years of experience in JavaScript ecosystem and is one of early React and React Native adopters. On daily basis Vladimir works in Web, Mobile, VR/AR and IoT.",
    github: 'https://github.com/vnovick',
    twitter: 'https://twitter.com/VladimirNovick',
    site: 'http://vnovick.com',
  }, {
    photo: 'ben.jpg',
    name: 'Ben Ellerby',
    company: 'Theodo, UK',
    desc: "Architect developer, working with startups to launch MVP's and large corporates to deliver in startup speed. Tech at heart, loving to code, participating in hackathons, guest lecturing as part of the University of Southampton CompSci Bsc course and acting as a tech advisor to multiple startups.",
    github: 'https://github.com/BenEllerby',
  }, {
    photo: 'wouter.jpg',
    name: 'Wouter van den Broek',
    company: 'Freelance, Netherlands',
    desc: "Wouter van den Broek is a dutch mobile and web developer currently working at Synappz Mobile Health and when not working there he does contract work for start-ups and big companies. He has build many apps, from Symbian to BlackBerry to iOS and Android and now on the endeavor with React Native. Always interested in the best and new solutions.",
    github: 'https://github.com/wbroek',
    twitter: 'https://twitter.com/wbroek',
  }, {
    photo: 'ankita.jpg',
    name: 'Ankita Kulkarni',
    company: 'Rangle.io, Canada',
    desc: "Senior Software Developer at Rangle.io in Toronto focused on building web applications for clients using modern JavaScript. Prior to Rangle.io, she was at IBM, Canada working at IBM Cloud Garage building web and mobile applications using artificial intelligence, IoT, modern JavaScript, and native languages for about 4 years in.",
    github: 'https://github.com/kulkarniankita',
    twitter: 'https://twitter.com/kulkarniankita9',
    site: 'https://medium.com/@kulkarniankita9',
  }, {
    photo: 'adam.jpg',
    name: 'Adam Terlson',
    company: 'InterNations, Germany',
    desc: "Adam is a software engineer currently working as the lead of mobile app development at InterNations, where he builds mobile apps with React Native.  Adam is also the organizer of React Munich and React Native Munich meetup groups.",
    github: 'https://github.com/adamterlson',
    twitter: 'https://twitter.com/adamterlson',
    site: 'https://medium.com/@adamterlson',
  }, {
    photo: 'kitze.jpg',
    name: 'Kitze',
    company: 'ReactAcademy, Macedonia',
    desc: "Teaching React & Javascript at React Academy. Cares about open source, made and maintains sizzy.co, custom-react-scripts, and mobx-router. He had the chance to work and experiment with a variety of languages and frameworks.",
    github: 'https://github.com/kitze',
    twitter: 'https://twitter.com/thekitze  '
  }

]

eveningSpeakers: [
  {
    photo: '1.jpg',
    name: 'Michel Weststrate',
    company: 'Mendix, Rotterdam',
    desc: "Front End Engineer with a passion for beautiful UIs.",
    github: '#',
    twitter: '#',
    medium: '#'
  }, {
    photo: 'alex.jpg',
    name: 'Alex Castillo',
    company: 'Netflix, USA',
    desc: "Director of Open Source at Formidable and the author of libraries like Slick Carousel, McFly, react-music, webpack-dashboard, Spectacle.",
    github: '#',
    twitter: '#'
  }, {
    photo: 'ken.jpg',
    name: 'Ken Wheeler',
    company: 'Formidable, USA',
    desc: "Front-end web/mobile developer working on Expo and React Native.",
    github: '#',
  }, {
    photo: 'michele.jpg',
    name: 'Michele Bertoli',
    company: 'Facebook, UK',
    desc: "Chief visioner officer at Primelphants. React Adept. Ableton lover and podcaster. He helps FinTech projects leverage their frontend development.",
    github: '#',
    twitter: '#',
    medium: '#'
  }, {
    photo: 'tereza.jpg',
    name: 'Tereza Sokol',
    company: 'NoRedInk, Denmark',
    desc: "Tereza is an engineer at NoRedInk working on the Elm frontend as well as the developer of elm-plot, a plotting library written purely in Elm.",
    github: '#',
    twitter: '#',
  }, {
    photo: 'forbes.jpg',
    name: 'Forbes Lindesay',
    company: 'Facebook, UK',
    desc: "Head of Open Source, React Native Core Contributor.",
    github: '#',
    twitter: '#',
  }, {
    photo: 'jessica.jpg',
    name: 'Jessica Chan',
    company: 'Pinterest, USA',
    desc: "Tracy is a speaker, writer, and serial entrepreneur passionate about JavaScript and new technologies. Loves open source projects, pairing with friends, and empowering people to do awesome things. Tracy is also an organizer of ng-cruise and track chair for QCon.",
  }
]

scheduleList: [
  {
    title: 'General Track',
    active: true,
    schedule: [
      {
        time: '07.00',
        author: 'Ferry From Central Station',
        text: "Take a direct ferry from Amsterdam Central Station to React Amsterdam Venue. The boat with green flag, and React Amsterdam logo on it, will cruise from 7 till 10am."
      },{
        time: '07.30',
        author: 'Registration',
        lastColMod: 's-item__col_d-sm-none',
      },{
        time: '08.00',
        author: 'Welcome Breakfast',
        lastColMod: 's-item__col_d-sm-none'
      },{
        time: '09.40',
        author: 'Conference Opening',
        lastColMod: 's-item__col_d-sm-none'
      },{
        time: '10.00',
        author: 'Tadeu Zagallo',
        company: 'Balsamiq',
        theme: 'Mastering Server-rendered Apps1',
        text: "There will always be a new JavaScript framework to learn. Technology will continue to evolve and change, and developers will continue to rewrite applications. Wouldn't it be amazing if we could just copy paste 90% of our code from framework to framework?
Well, you can. Reactive programming enables just this AND the ability to future proof your code.
Not only can reactive programming help with your solutions to JavaScript fatigue, but the concepts and technology remain consistent from framework to framework.
Learn how to create a more composable application architecture and an arsenal of lego bricks with RxJS, a push based primitive and domain specific language that sits on top of JavaScript. "
      },{
        time: '10.30',
        author: 'Michel Weststrate',
        company: 'Serverless',
        theme: 'Building Reactive GraphQL Apps With Apollo',
        text: "In this talk, I’ll introduce our efforts to design a reactive system to automatically re-run GraphQL queries when the underlying data changes. You will see how to make the collaborative parts."
      },{
        time: '11.45',
        author: 'Mark Peck',
        company: 'Mendix',
        theme: 'The React Native Playground',
        text: "The React Native Playground breaks down barriers to mobile development by making it easy to write React Native apps right in the browser, and test them across platforms and devices."
      },{
        time: '12.00',
        author: 'Forbes Lindesay',
        company: 'Facebook',
        theme: 'State Management is Easy',
        text: "Many teams have been discussing on whether to go the immutable or mutable state route. Flux or MVC or MVVM? Redux, MobX or Apollo? Instead of answering the question, in this talk we will look at JavaScript code on a more fundamental level: How do data structures work in JavaScript. What assumptions can be we make if we treat them to be immutable? Or mutable? How can we express concepts like identities, references, collections, mutations, derivations in either case? And can we bent the rules between the two? This talk will provide you a deeper understanding of the difference between state and data. A deeper understanding of JavaScript itself. Which will help you to improve the state you manage, regardless of the library you use to implement that."
      },{
        time: '12.30',
        author: 'Lunch Break'
      },{
        time: '13.30',
        author: 'Steve Boshmann',
        company: 'Infinite Red',
        theme: 'Building Reactive GraphQL Apps With Apollo',
        text: "Queries when the underlying data changes. You will see how to make the collaborative parts of your app update in real time with little extra code, how to integrate with a SQL database or REST API, and how this works."
      },{
        time: '14.00',
        author: 'Woody Rousseau',
        company: 'Infinite Red',
        theme: 'Mastering Server-rendered Apps2',
        text: "We'll see how to build components in a way that makes them more maintainable, testable and easier to work with."
      },{
        time: '14.30',
        author: 'Krzysztof Magiera',
        company: 'Callstack.io',
        theme: 'Building Reactive GraphQL Apps With Apollo',
        text: "In this talk, I’ll introduce our efforts to design a reactive system to automatically re-run GraphQL queries when the underlying data changes. You will see how to make the collaborative parts."
      },{
        time: '15.45',
        author: 'Aaron Greenwald',
        company: 'Wix',
        theme: 'The React Native Playground',
        text: "The React Native Playground breaks down barriers to mobile development by making it easy to write React Native apps right in the browser."
      },{
        time: '16.30',
        author: 'Coffee Break'
      },{
        time: '17.45',
        author: 'Happy stories',
        theme: 'Talks from people who runned into a problem with React but knows how to avoid it and is eager to share',
        stories: [
          {
            author: 'Feather Knee',
            text: 'The React Native Playground breaks down barriers to mobile development by making it easy to write React Native apps right in the browser.'
          },{
            author: 'Narendra Shetty',
            text: 'No other topic in software development probably has so much controversy as linting. With a wrong workflow linting can be really a pain and will slow you and your team down. With a proper setup though, it can save you hours of manual work reformatting the code and reducing the code-review overhead.'
          }
        ]
      },{
        time: '19.30',
        author: 'Afterparty',
        theme: 'This is for all the devs who care about performance and who think twice before adding any external library',
        text: '<img src="img/schedule.jpg" alt="schedule" /> React Native allows for building great native apps by utilising native mobile components. Apparently handling touch and gestures is quite tricky as it often needs to interact with the application code which runs asynchronously in the javascript VM.'
      }
    ]
  },
  {
    title: 'React Native Track',
    schedule: [
      {
        time: '06.00',
        author: 'Test',
        text: "Take a direct ferry from Amsterdam Central Station to React Amsterdam Venue. The boat with green flag, and React Amsterdam logo on it, will cruise from 7 till 10am."
      },{
        time: '07.30',
        author: 'Registration'
      },{
        time: '08.00',
        author: 'Welcome Breakfast'
      },{
        time: '09.40',
        author: 'Conference Opening'
      },{
        time: '10.00',
        author: 'Tadeu Zagallo',
        company: 'Balsamiq',
        theme: 'Mastering Server-rendered Apps4',
        text: "There will always be a new JavaScript framework to learn. Technology will continue to evolve and change, and developers will continue to rewrite applications. Wouldn't it be amazing if we could just copy paste 90% of our code from framework to framework?
Well, you can. Reactive programming enables just this AND the ability to future proof your code.
Not only can reactive programming help with your solutions to JavaScript fatigue, but the concepts and technology remain consistent from framework to framework.
Learn how to create a more composable application architecture and an arsenal of lego bricks with RxJS, a push based primitive and domain specific language that sits on top of JavaScript. "
      },{
        time: '10.30',
        author: 'Michel Weststrate',
        company: 'Serverless',
        theme: 'Building Reactive GraphQL Apps With Apollo',
        text: "In this talk, I’ll introduce our efforts to design a reactive system to automatically re-run GraphQL queries when the underlying data changes. You will see how to make the collaborative parts."
      },{
        time: '11.45',
        author: 'Mark Peck',
        company: 'Mendix',
        theme: 'The React Native Playground',
        text: "The React Native Playground breaks down barriers to mobile development by making it easy to write React Native apps right in the browser, and test them across platforms and devices."
      },{
        time: '12.00',
        author: 'Forbes Lindesay',
        company: 'Facebook',
        theme: 'State Management is Easy',
        text: "Many teams have been discussing on whether to go the immutable or mutable state route. Flux or MVC or MVVM? Redux, MobX or Apollo? Instead of answering the question, in this talk we will look at JavaScript code on a more fundamental level: How do data structures work in JavaScript. What assumptions can be we make if we treat them to be immutable? Or mutable? How can we express concepts like identities, references, collections, mutations, derivations in either case? And can we bent the rules between the two? This talk will provide you a deeper understanding of the difference between state and data. A deeper understanding of JavaScript itself. Which will help you to improve the state you manage, regardless of the library you use to implement that."
      },{
        time: '12.30',
        author: 'Lunch Break'
      },{
        time: '13.30',
        author: 'Steve Boshmann',
        company: 'Infinite Red',
        theme: 'Building Reactive GraphQL Apps With Apollo',
        text: "Queries when the underlying data changes. You will see how to make the collaborative parts of your app update in real time with little extra code, how to integrate with a SQL database or REST API, and how this works."
      },{
        time: '14.00',
        author: 'Woody Rousseau',
        company: 'Infinite Red',
        theme: 'Mastering Server-rendered Apps5',
        text: "We'll see how to build components in a way that makes them more maintainable, testable and easier to work with."
      },{
        time: '14.30',
        author: 'Krzysztof Magiera',
        company: 'Callstack.io',
        theme: 'Building Reactive GraphQL Apps With Apollo',
        text: "In this talk, I’ll introduce our efforts to design a reactive system to automatically re-run GraphQL queries when the underlying data changes. You will see how to make the collaborative parts."
      },{
        time: '15.45',
        author: 'Aaron Greenwald',
        company: 'Wix',
        theme: 'The React Native Playground',
        text: "The React Native Playground breaks down barriers to mobile development by making it easy to write React Native apps right in the browser."
      },{
        time: '16.30',
        author: 'Coffee Break'
      },{
        time: '17.45',
        author: 'Happy stories',
        theme: 'Talks from people who runned into a problem with React but knows how to avoid it and is eager to share',
        stories: [
          {
            author: 'Feather Knee',
            text: 'The React Native Playground breaks down barriers to mobile development by making it easy to write React Native apps right in the browser.'
          },{
            author: 'Narendra Shetty',
            text: 'No other topic in software development probably has so much controversy as linting. With a wrong workflow linting can be really a pain and will slow you and your team down. With a proper setup though, it can save you hours of manual work reformatting the code and reducing the code-review overhead.'
          }
        ]
      },{
        time: '19.30',
        author: 'Afterparty',
        theme: 'This is for all the devs who care about performance and who think twice before adding any external library',
        text: '<img src="img/schedule.jpg" alt="schedule" /> React Native allows for building great native apps by utilising native mobile components. Apparently handling touch and gestures is quite tricky as it often needs to interact with the application code which runs asynchronously in the javascript VM.'
      }
    ]
  }
]

talks: [
  {
    author: 'Kent C. Dodds',
    company: 'PayPal, USA',
    theme: 'Requisite React',
    text: "React is a brilliant JavaScript library for building simple and complex user interfaces. In our eagerness to apply React to our most complex of problems and ship solutions today, we can get lost in the 🌲🌲🌲 forest of abstractions 🌲🌲🌲. When it comes to leveling up our skills in anything, I find the most effective method is to take a step back and understand the foundational fundamentals. To strip away all abstraction until what we're left with is the bare bones. <a href='https://twitter.com/kentcdodds/status/1074724545003581440' target='_blank'>The better you understand an abstraction, the more effective you will be at using it.</a> In this talk, we'll get more effective at using React Hooks, React Suspense, and JSX."
  },
  {
    author: 'Mark Dalgleish',
    company: 'Seek, Australia',
    theme: 'Designing with React',
text: "Thanks to React's component-oriented architecture, the React community has been naturally gravitating towards design systems as a way of standardising our respective design languages into reusable components. When done successfully, it suddenly becomes trivial to translate standard designs into code. In fact, we may even find that this translation step starts to feel somewhat redundant. In a world of components, how should our design processes change? How should our tooling change? How should we, as React developers, better enable this change? In this talk, we'll look at the current state of design and development, and where we could go—if we're willing to push for it."
  },{
    author: 'Max Stoiber',
    company: 'Spectrum, Austria',
    theme: 'Tech Regrets at Spectrum',
    text: "Spectrum is an open source chat app for large online communities and was recently acquired by GitHub. We are a team of three with a predominantly frontend and design background and have worked on it for close to two years. With the benefit of hindsight, let's talk about the technology choices I regret and the lessons I have learned."
  },{
    author: 'Parashuram N',
    company: 'Facebook, USA',
    theme: 'Building React Native',
    text: "<p>React Native is a great way to build native apps for iOS, Android and other mobile platforms. In this talk, we will look at the internals of React Native, and how code written in JavaScript can power a fully native mobile application. We will look at the various parts of the current system like the bridge, the UI manager and the plugins. We will also touch upon the rendering process and compare it to React’s rendering on the web. </p>
<p>We will look at some of the new and exciting improvements (like Fabric, TurboModules and JSI) and talk about how they significantly improve React Native. This talk stems from my experiences as a web-developer newbie on the React Native team, and is an attempt to document my journey in comprehending the code base. At the end of the talk, the attendees will not only be able to build React Native apps, but also understands how it all works together.</p>"
  },{
    author: 'Ashi Krishnan',
    company: 'GitHub, UK',
    theme: 'Painting Pixels with WebGL with React Hooks',
    text: "<p>WebGL lets you unlock the power of your GPU. In principle, you can paint almost anything you can dream of. In practice, WebGL is hard, and though projects like three.js make it easier, there are still a lot of hurdles to integrating it into your site in a practical way.</p>
<p>Let's explore how Hooks can make it easier to integrate powerful GPU-driven visuals into our React apps, giving us the best of both worlds: the power of WebGL with the ease and expressiveness of a React component tree.</p>"
  },{
    author: 'Florian Rival',
    company: 'Facebook, UK',
    theme: 'Native Web Apps: React and WebAssembly to Rewrite Native Apps',
    text: "<p>Can React and web technologies compete with native toolkits when it comes to making super complex, rich desktop apps? Can we go further and create better-than-native applications? 🤔 Sounds like a good challenge! </p>
<p>This talk introduces how React, JavaScript and WebAssembly can be used to write new ambitious apps, or port existing ones - with real world examples! I'll show how to leverage the React ecosystem to create performant applications: architecture, patterns, typing, useful open-source modules and tooling... and how to go one step further and provide a better user experience as well as a better developer experience.</p>
<p>These apps are not web apps, they are not native apps, they are hybrid 'Native Web Apps' and can provide the best of both worlds.</p>"
  },{
    author: 'Anna Doubková',
    company: 'Hive, UK',
    theme: 'Practical Performance for React (Native)',
    text: "There are quite a few theoretical concepts of writing good a React application, including popular functional programming approaches. However, few take into consideration the impacts these will have on performance of the application. In this talk you’ll find out how some commonly used patterns have an adverse effect on the speed of your app, and how to avoid using them. We’ll mainly explore UI and state management but we’ll also dive into some native-specific issues and look at how to prevent them."
  },{
    author: 'Andrey Okonetchnikov',
    company: 'Freelance, Austria',
    theme: 'A Common Design Language. Let Designers and Developers talk to each other',
    text: '<p>“Should designers code?” or “Should coders design?”—these two eternal questions are being asked for years with no particular answer given.</p>
<ul style="margin: 10px 0 10px;">
<li>- How to let developers know what typography style or button variance they should be using on this particular screen?</li>
<li>- How to ensure that the whole UI is consistent?</li>
<li>- How to let designers know that some screen design doesn’t fit the requirements and needs to be updated?</li>
  </ul>
<p>In order to answer those questions designers and developers have to speak the same language. But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.</p>'
  },{
    author: 'Siddharth Kshetrapal',
    company: 'Auth0, India',
    theme: 'Refactoring React',
    text: "<p>React on it’s own has a very small API surface. Most of the magic happens in user-land.</p>
<p>But, there's a lot out there: Higher order components, Render props, Compound components? Provider methods? Learn which component pattern will make your codebase better in which use case.</p>"
  },{
    author: 'Nader Dabit',
    company: 'Amazon AWS, USA',
    theme: 'Full-stack React Native in the Era of Serverless Computing',
    text: "<p>With the emergence of more & more powerful & sophisticated managed services like Algolia, AWS AppSync, Cloudinary, Auth0, Amazon Rekognition & Firebase it's now completely possible for front-end engineers to build full-stack web & mobile applications while with almost no back-end code, relying on these services to do the heavy lifting for features like data layers, search, authentication, & authorization & using serverless glue functions to handle what’s left.</p>
<p>In this talk, I'll talk about this philosophy in depth, discuss the options available from different service providers, & then show how (live-code) to build a full-stack React Native application in just a few minutes by using React & AWS Amplify React Native to quickly build a real-world app complete with a GraphQL API, analytics, search, authentication & authorization.</p>"
  },{
    author: 'Vladimir Novick',
    company: 'Consultant, Israel',
    theme: 'Demystifying Complex Animations Creation Process in React Native',
    text: "<p>While Animations can be created in React Native pretty easily, real world mobile apps require a combination of several layers of animations, gestures and micro interaction animations to make user experience stand out. In this talk we will walk through the process from defining complex animation, to implementing it by going through all stages of animation creation process</p>"
  },{
    author: 'Tim Neutkens',
    company: 'Zeit, Netherlands',
    theme: 'Next for Next.js',
text: "<p>Next.js is one of the most convenient and powerful ways of developing React apps on the web. With powerful features out of the box such as code-splitting, server-side rendering and powerful optimizations, this talk discusses the exciting next steps for Next.js.</p>"
  },{
    author: 'Ben Ellerby',
    company: 'Theodo, UK',
    theme: 'Sharing Code Between React and React-Native: What Not to Share',
    text: "<p>React and React-Native allow a learn once write anywhere paradigm. This is great, because one tech team can build both your web app and native mobile experience. The problem is developers hate writing things twice. There have been a couple of efforts to build a unifying technology to write an application once and have it work on both web and native. Yet this is not always the best approach. There is value in only sharing your business and state logic; keeping your render code separate.</p>
<p>In this talk I will give real examples from my work with MADE.COM, migrating their web and mobile application to React and React-Native with code sharing as a primary objective.</p>"
  },{
    author: 'Wouter van den Broek',
    company: 'Freelance, Netherlands',
    theme: 'Building for a Bigger World Than Mobile',
    text: "<p>React Native is great for mobile applications on iOS and Android but there is more in the world of native app development. React Native can be used to get your app on the Windows and Mac OS X platform. And why not Elektron or even newer Marzipan to get your app to the other platforms or can you combine these technics to get a good app as result.</p>
<p>In this talk you wil see how to get React Native to the Windows and Mac OS X platform, what the advantages and disadvantages are with these setups  and what you can do to get the best results for your App</p>"
  },{
    author: 'Ankita Kulkarni',
    company: 'Rangle.io, Canada',
    theme: 'Make Your React Native Apps Accessible',
    text: "<p>Did you know React Native has accessibility rules?  In this talk, I will show you why accessibility matters, what those rules are, accessibility standards your app falls into, common patterns to follow and how to get over your fear of voice-over.</p>
<p>By making our apps accessible, we provide a great experience for all our users. This talk is sure to leave you with actionable ways in making your apps accessible. Let’s make this native world a better and inclusive place for everyone.</p>"
  },{
    author: 'Adam Terlson',
    company: 'InterNations, Germany',
    theme: 'React Native App Rollout—an Alternative Approach',
    text: "<p>Making a new app is a daunting task, especially when it's rewriting a social networking hybrid app with over 3 million cross-platform users.</p>
<p>We could have pursued a 'mainstream' release strategy—instead, we got creative with React Native. We developed an independent, stand-alone React Native app before injecting it into the iOS and Android apps already in the store.  Once in place, our app grew and grew until it consumed its host from the inside-out (gruesome!).</p>
<p>The effect was some pretty unique and awesome advantages to how we developed and deployed our new app—but it came at a cost.</p>"
  }
]
sponsorsDescription: true
sponsors: [
  {
    title: 'Platinum',
    mod: '',
    list: [
      {
        link: 'https://www.dazn.com/',
        name: 'Dazn',
        logo: 'dazn.png',
        width: '280'
      }
    ]
  },
  {
    title: 'Gold',
    mod: 'sponsors-block__item_lg',
    list: [
      {
        link: 'https://www.evolutiongaming.com/',
        name: 'Evolution Gaming',
        logo: 'eg-inverted.png',
        width: '300'
      },{
        link: 'https://aws.amazon.com/',
        name: 'Amazon Web Service',
        logo: 'aws.png',
        width: '300'
      },{
        link: 'https://crystallize.com/',
        name: 'Crystallize',
        logo: 'logo-white.svg',
        width: '300'
      },{
        link: 'https://xebia.com/',
        name: 'Xebia',
        logo: 'xebia.png',
        width: '300'
      },{
        link: 'https://www.linkit.nl/',
        name: 'Linkit',
        logo: 'linkit-inverted.png',
        width: '350'
      }
    ]
  },
  {
    title: 'Silver',
    list: [
      {
        link: 'https://www.honeypot.io/',
        name: 'Honeypot',
        logo: 'honeypot.png',
        width: '250'
      },{
        link: 'https://www.messagebird.com/',
        name: 'mb',
        logo: 'mb.png',
        width: '220'
      }
    ]
  },
  {
    title: 'Partners',
    list: [
      {
        link: 'http://theodo.co.uk/',
        name: 'theodo',
        logo: 'theodo.png',
        width: '100'
      },
      {
        link: 'https://hackages.io/',
        name: 'hackages',
        logo: 'hackages.png',
        width: '170'
      },{
        link: 'http://fiber-space.nl/',
        name: 'fiber',
        logo: 'fiber.svg',
        width: '150'
      },
      {
        link: 'http://www.unicornsintech.com/',
        name: 'unicornsintech',
        logo: 'unicornsintech.png',
        width: '150'
      },
      {
        link: 'https://facebook.com/',
        name: 'facebook',
        logo: 'fb.png',
        width: '160'
      },
      {
        link: 'https://reactnewyork.com',
        name: 'react_new_york',
        logo: 'react_new_york_logo.svg',
        width: '100'
      },
      {
        link: 'https://ngvikings.org',
        name: 'ngVikings ',
        logo: 'ngVikings.png',
        width: '200'
      },
      {
        link: 'https://react-finland.fi/#partners',
        name: 'react_finland',
        logo: 'react_finland.svg',
        width: '100'
      }
    ]
  },
  {
    title: 'Media Partners',
    list: [
      {
        link: 'https://spec.fm/',
        name: 'spec',
        logo: 'spec.svg',
        width: '150'
      },{
        link: 'https://changelog.com/',
        name: 'changelog',
        logo: 'changelog.svg',
        width: '170'
      }
    ]
  },
]


---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}
<div class="main js-main">
	{% include "partials/_hero.html" %}
	{% include "partials/_event.html" %}
	{% include "partials/_media.html" %}
	{% include "partials/_contact-form.html" %}
	{% include "partials/_location.html" %}
  {% include "partials/_fleet.html" %}
	{% include "partials/_speakers.html" %}
	<!--{% include "partials/_evening-programme.html" %}-->
	<!--{% include "partials/_MCs.html" %}-->
	<!--{% include "partials/_schedule.html" %}-->
	{% include "partials/_talks.html" %}
	<!--{% include "partials/_extended-program.html" %}-->
	{% include "partials/_awards.html" %}
	{% include "partials/_back-to-community.html" %}
	{% include "partials/_sponsors.html" %}
	{% include "partials/_footer.html" %}
</div>
{% endblock %}
