---
title: React Jobs from Most Notable React Community Supporters
keywords: 'jobs, careers, react, javascript, conference, reactjs, react native, graphql'
description: "You are a JavaScript developer and would love to work for a company supporting React community and getting technology stack serious?"
ogImage: 'https://react.amsterdam/pic/og2019-jobs.jpg'
ogUrl: 'https://react.amsterdam/react-jobs'
headerBtn: true
headerNav: [
{
text: 'Conference page',
href: '/'
}
]

footerNav: [
{
text: 'Back to conference website',
href: '/'
},
{
text: 'Sponsorship Opportunities',
href: '/sponsors'
},
{
text: 'Code Of Conduct',
href: '/coc'
},
{
text: 'Email Us!',
href: 'mailto:hi@react.amsterdam'
}
]
articles: [
  {
    img: 'eg.jpg',
    title: 'Careers at Evolution Gaming',
    descr: "
    <p>Evolution Gaming is looking to hire skilled and highly motivated engineers to work in Amsterdam, Riga and Tallinn
    offices.</p>
    <p>Our engineers are passionate about innovation and develop the solutions that allow Evolution Gaming to provide its
    services to licensees.<br> Our teams are critical to the successful running of the company, with any code change having a potentially huge
    financial impact.</p>
    <ul>
    <span>Join us as a</span>
    <li>JavaScript Developer</li>
    <li>Scala Developer</li>
    <li>QA Engineer</li>
    <span>or choose another role that fits your skillset and aspirations best.</span>
  </ul>
    ",
    link: "https://www.evolutiongamingcareers.com/engineering-positions/"
  },
  {
    img: 'github.jpg',
    title: 'Come build with us',
    descr: "
    <p>GitHub employees live all over the world, and we love helping people work in the places they’re happiest.</p>
<p>At GitHub we build the tools that make collaborating and writing software easier for everyone. We’ve built a company we truly love working for, and we think you will too.</p>

    <ul>
    <li>A diverse and inclusive workplace</li>
      <li><a href='https://github.com/about/careers/remote' target='_blank'>wherever you're happiest</a></li>
    <li>Flexible work schedules and unlimited PTO</li>
    <li>A yearly budget for your individual learning and development goals</li>
  </ul>",
    link: "https://git.io/sparkles"
  },
  {
    img: 'aws.png',
    title: 'Software Development Engineer - AWS Amplify Toolchain',
    descr: "
    <p>The AWS Amplify CLI toolchain team is looking for a passionate, hard-working, and committed Software Engineer to improve the app building developer experience on the AWS cloud. The ideal candidate is passionate about new opportunities and has a strong track record of successfully delivering new features and products. A commitment to team work, initiative, and strong communication skills are a must. Creating reliable, scalable, and high performance products requires exceptional technical expertise, a sound understanding of the fundamentals of Computer Science, and practical experience building scalable software products. This person thrives on delivering high quality technology solutions in an environment where priorities shift fast to meet the changing needs of our customers.</p>",
    link: "https://www.amazon.jobs/en/jobs/782454/software-development-engineer-aws-amplify-toolchain"
  },
  {
    img: 'xebia.png',
    title: 'Software Engineer at Xebia',
    descr: '
    <p>Xebia seeks passionate, professionals who work to play, and play to win. We’re currently looking for an enthusiastic, experienced and dedicated Software Engineer.
At Xebia, you’ll find like-minded colleagues who are front-runners in their fields. We help get organizations moving and have the courage to leave the beaten track. By sharing knowledge with our customers and communities, we continuously broaden our expertise and determine the next cool thing.
</p>
<p>If you’re passionate about what you do and can demonstrate your knowledge, we want to hear from you!</p>
<p>Get in touch with us: <a href="mailto:careers@xebia.com">careers@xebia.com</a>.</p>',
    link: "https://pages.xebia.com/vacancy-software-engineer"
  },
  {
    img: 'crystallize.png',
    title: 'Want to move to beautiful Norway?',
    descr: '
    <p>We’re always looking for new talent and are currently hiring.</p>
    <p>At Crystallize we are a bunch of diverse and international people and can offer varied but challenging work being part of a team launching the most innovative products supported by digital brilliance.</p>
    <p>Crystallize is a headless commerce service enabling developers to build tailor-made e-commerce experiences with subscriptions and virtual products. The core of Crystallize is our blazing fast GraphQL API. Developer experience and time to market are our main drivers since milliseconds matter.</p>
    <p>Our office is located in Skien, in the south of beautiful Norway. Have a look at our job offers following the link below and let us know if you think you’d be a good match. We can’t wait to hear from you.</p>',
    link: "https://crystallize.com/careers"
  },
  {
    img: 'skyscanner.png',
    title: 'Build without limits @ Skyscanner',
    descr: '
    <p>Skyscanner is a leading global travel search site and app, a place where people are inspired to plan and book direct from millions of travel options at the best prices.</p>
    <p>We are unbiased and free, which means that the 80 million people who use us every month can trust our comprehensive range of flight, hotel and car hire options.</p>
    <p>Our secret is in our unique proprietary technology that connects people directly to everything the travel industry has to offer. We also power travel search for over 1200 partners through our marketplace.</p>
    <p>We’re a high-growth business with a simple aim: to inspire travellers around the world and make travel search as easy as possible through our world-class technology.</p>',
    link: "https://www.skyscanner.net/jobs"
  },
  {
    img: 'honeypot.jpg',
    title: 'Honeypot - tech job platform',
    descr: '
    <p>
    Honeypot is Europe’s leading tech job platform, on a mission to build great engineering teams. On Honeypot, you state your job preferences upfront and companies apply to you. We believe you should choose a job you love: whether that’s based on a cutting-edge tech stack, an inspiring team or just good old-fashioned salary.
  </p>
  <p>
    In our world, that means no more spam and empty promises from headhunters, no more sending the same application to multiple companies - just one profile and a chance to receive offers related to your job preferences directly from companies.
  </p>',
    link: "https://www.honeypot.io/?utm_source=reactamsterdam&utm_medium=referral"
  },
  {
    img: 'messagebird.png',
    title: 'Careers at MessageBird',
    descr: '
    <p>
    Join the team that changes the way the world communicates.
  </p>
  <p>
    MessageBird is a Cloud Communications Platform as a Service (CPaaS) company for SMS, Voice and Chat communications
    that connects businesses to 7 billion phones worldwide. A graduate of Y Combinator in Silicon Valley and backed by
    Accel and Atomico, we’re one of the fastest growing software companies in the world and we’re looking for a
    well-versed React Engineer to join our team.
  </p>
  <p>
    Join a fun, open, and ambitious group of people working in a beautiful office overlooking the Amstel River in
    Amsterdam, where our team chefs serve delicious food all day long. We work hard, play hard and always look to raise
    the bar. We strive to be the kind of company that makes every team member excited to come to work every morning.
  </p>',
    link: "https://www.messagebird.com/en/careers/"
  },
  {
    img: 'edcast.jpg',
    title: 'Careers@EdCast: Ready to make the leap and grow your career?',
    descr: '
    <p>
    EdCast AI-Powered Learning Experience Platform (LXP) creates a unified, relevant and engaging experience for knowledge workers. Our mission is to democratize learning. EdCast LXP is used internationally by Global 2000 companies and large government organizations, including NASSCOM and World Economic Forum, to solve the discovery and curation problems across all external and internal knowledge sources. We want to prepare the workforce of the future to meet the demands of a rapidly changing digital world in the 4th Industrial Revolution.
  </p>
  <p>
    To achieve our mission, we are looking for Front-End/Full-Stack Developers ready to be a part of our tight-knit and nimble team and willing to work in a true startup “Silicon Valley” environment in EdCast Europe based out of Rotterdam. If you are passionate about technology and innovation; and are hungry to grow and evolve in your career, this is your opportunity!
  </p>
  <p>
    Check out our career opportunities in Rotterdam! We promise you will not be disappointed.
  </p>',
    link: "https://www.edcast.com/corp/careers/"
  }
]






---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-jobs.html" %}
  {% include "partials/_articles.html" %}
  {% include "partials/_footer.html" %}
</div>
{% endblock %}
