---
title: Jobs page
headerNav: [
{
text: 'EVENT',
href: '#event',
scroll: true
},
{
text: 'LOCATION',
href: '#location',
scroll: true
},
{
text: 'SPEAKERS',
href: '#speakers',
scroll: true
},
{
text: 'SCHEDULE',
href: '#schedule',
scroll: true
},
{
text: 'OS AWARDS',
href: '#awards',
scroll: true
},
{
text: 'JOBS',
href: '#'
},
{
text: 'SPONSORS',
href: '#sponsors',
scroll: true
},
{
text: 'WORKSHOPS',
href: '#'
}
]

footerNav: [
{
text: 'Back to conference website',
href: '/'
},
{
text: 'Sponsorship Opportunities',
href: '/sponsors'
},
{
text: 'Code Of Conduct',
href: '/coc'
},
{
text: 'Email Us!',
href: 'mailto:hi@react.amsterdam'
}
]
articles: [
  {
    img: 'article-1.jpg',
    title: 'Careers at Mendix',
    descr: "
    <p>Mendix is a visual, model-based IDE to create mobile & web apps. On top of this, our platform supports cloud deployment, feedback & collaboration and reusable components via our app store. As a result, Mendix is the fastest and easiest way to create and continuously improve enterprise grade mobile and web apps at scale.</p>
    <p>Our R&D team works with the latest technologies to create our innovative platform — React, MobX, Node.js, TypeScript, Cloudfoundry/Pivotal/Kubernetes/AWS, C#, Scala. We support our software engineers in their OSS endeavours, and help our researchers continuously develop their skills. More than 60,000 Mendix developers from 4,000 organizations around the world rely on Mendix, so each commit has the potential to impact not just them but millions of end users.</p>
    <p>We're investing to accelerate our momentum, and looking to grow our global team. If you constantly strive for excellence, are passionate about innovation, and want to work with a collaborative, energetic team - then Mendix is for you.</p>
    "
  }, {
    img: 'article-2.jpg',
    title: 'Senior Front-end Developer at Impraise',
    descr: "
    <p>As a Senior Front-end Developer you’ll be a core part of our product team, building a product that sets a new standard for the way organization’s and their people handle performance management and personal development.</p>
    <p>Some of the most innovative mid-size enterprises in the industry are using our product, and our team focuses on building a product that scales with them, seamlessly integrates with the work ows of HR, managers and employees, and meets their quality standards.</p>
    <p>Together, we will improve the experience of our web application and thrive to deliver an innovative experience for all our users.</p>
    "
  }, {
    img: 'article-3.jpg',
    title: 'Careers at Evolution Gaming',
    descr: "
    <p>Evolution Gaming is looking to hire skilled and highly motivated engineers to work in Amsterdam, Riga and Tallinn offices.</p>
    <p>Our engineers are passionate about innovation and develop the solutions that allow Evolution Gaming to provide its services to licensees.</p>
    <p>Our teams are critical to the successful running of the company, with any code change having a potentially huge financial impact.</p>
    "
  }, {
    img: 'article-4.jpg',
    title: 'Full-stack JS Developer at Blue Frontend',
    descr: "
    <p>Working at Blue Frontend is not for everybody, but maybe it’s for you. We surely think that the life of a full-stack developer is very stimulating. You get the chance to work on projects at exciting companies, both at start-ups and at established organizations. And we try very hard to offer our customers the best services according to the most recent insights.</p>
    <p>But the thing that maybe appeals the most to Blue Frontenders is the way we interact with each other. With us, you’re not just an employee; you’re part of the family. We like to work hard, but we like to relax and have fun just as much. We aim for pleasure at work, we treat everyone the way we want to be treated ourselves, and we love to learn new things every now and then.</p>
    "
  }, {
    img: 'article-5.jpg',
    title: 'Senior Frontend Engineer at Elsevier',
    descr: "
    <p>Do you want to help build GitHub for scientists? Do you want to be part of a new team in Amsterdam?</p>
    <p>We’re building an intelligent shareable data repository for scientific data and need more help. If you’re a passionate, focused and driven developer who isn’t afraid of making decisions quickly, building things you’ve not built before, untangling legacy code and hitting your sprint commitments we want to hear from you. In return we offer the opportunity to work on a meaningful product in an AWS microservice architecture environment using Universal Javascript, React, Flight, Redux & Node.</p>
    "
  }
]






---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-jobs.html" %}
  {% include "partials/_articles.html" %}
  {% include "partials/_footer.html" %}
</div>
{% endblock %}
