---
title: React Jobs from Most Notable React Community Supporters
keywords: 'jobs, careers, react, javascript, conference, reactjs, react native, graphql'
description: "You are a JavaScript developer and would love to work for a company supporting React community and getting technology stack serious?"
ogImage: 'https://react.amsterdam/pic/og2019-jobs.jpg'
ogUrl: 'https://react.amsterdam/react-jobs'
headerNav: [
{
text: 'Conference page',
href: '/'
}
]

footerNav: [
{
text: 'Back to conference website',
href: '/'
},
{
text: 'Sponsorship Opportunities',
href: '/sponsors'
},
{
text: 'Code Of Conduct',
href: '/coc'
},
{
text: 'Email Us!',
href: 'mailto:hi@react.amsterdam'
}
]
articles: [
  {
    img: 'eg.jpg',
    title: 'Careers at Evolution Gaming',
    descr: "
    <p>Evolution Gaming is looking to hire skilled and highly motivated engineers to work in Amsterdam, Riga and Tallinn
    offices.</p>
    <p>Our engineers are passionate about innovation and develop the solutions that allow Evolution Gaming to provide its
    services to licensees.<br> Our teams are critical to the successful running of the company, with any code change having a potentially huge
    financial impact.</p>
    <ul>
    <span>Join us as a</span>
    <li>JavaScript Developer</li>
    <li>Scala Developer</li>
    <li>QA Engineer</li>
    <span>or choose another role that fits your skillset and aspirations best.</span>
  </ul>
    ",
    link: "https://www.evolutiongamingcareers.com/engineering-positions/"
  },
  {
    img: 'github.jpg',
    title: 'Come build with us',
    descr: "
    <p>GitHub employees live all over the world, and we love helping people work in the places they’re happiest.</p>",
    link: "https://git.io/sparkles"
  },
  {
    img: 'aws.png',
    title: 'Software Development Engineer - AWS Amplify Toolchain',
    descr: "
    <p>The AWS Amplify CLI toolchain team is looking for a passionate, hard-working, and committed Software Engineer to improve the app building developer experience on the AWS cloud. The ideal candidate is passionate about new opportunities and has a strong track record of successfully delivering new features and products. A commitment to team work, initiative, and strong communication skills are a must. Creating reliable, scalable, and high performance products requires exceptional technical expertise, a sound understanding of the fundamentals of Computer Science, and practical experience building scalable software products. This person thrives on delivering high quality technology solutions in an environment where priorities shift fast to meet the changing needs of our customers.</p>",
    link: "https://www.amazon.jobs/en/jobs/782454/software-development-engineer-aws-amplify-toolchain"
  },
  {
    img: 'xebia.png',
    title: 'Software Engineer at Xebia',
    descr: '
    <p>Xebia seeks passionate, professionals who work to play, and play to win. We’re currently looking for an enthusiastic, experienced and dedicated Software Engineer.
At Xebia, you’ll find like-minded colleagues who are front-runners in their fields. We help get organizations moving and have the courage to leave the beaten track. By sharing knowledge with our customers and communities, we continuously broaden our expertise and determine the next cool thing.
</p>
<p>If you’re passionate about what you do and can demonstrate your knowledge, we want to hear from you!</p>
<p>Get in touch with us: <a href="mailto:careers@xebia.com">careers@xebia.com</a>.</p>',
    link: "https://pages.xebia.com/vacancy-software-engineer"
  },
  {
    img: 'honeypot.png',
    title: 'Honeypot - tech job platform',
    descr: '
    <p>
    Honeypot is Europe’s leading tech job platform, on a mission to build great engineering teams. On Honeypot, you
    state your job preferences upfront and companies apply to you. We believe you should choose a job you love: whether
    that’s based on a cutting-edge tech stack, an inspiring team or just good old-fashioned salary.
  </p>
  <p>
    In our world, that means no more spam and empty promises from headhunters, no more sending the same application to
    multiple companies - just one profile and a chance to receive offers related to your job preferences directly from
    companies.
  </p>',
    link: "https://www.honeypot.io/?utm_source=reactamsterdam&utm_medium=referral"
  },
  {
    img: 'messagebird.png',
    title: 'Careers at MessageBird',
    descr: '
    <p>
    Join the team that changes the way the world communicates.
  </p>
  <p>
    MessageBird is a Cloud Communications Platform as a Service (CPaaS) company for SMS, Voice and Chat communications
    that connects businesses to 7 billion phones worldwide. A graduate of Y Combinator in Silicon Valley and backed by
    Accel and Atomico, we’re one of the fastest growing software companies in the world and we’re looking for a
    well-versed React Engineer to join our team.
  </p>
  <p>
    Join a fun, open, and ambitious group of people working in a beautiful office overlooking the Amstel River in
    Amsterdam, where our team chefs serve delicious food all day long. We work hard, play hard and always look to raise
    the bar. We strive to be the kind of company that makes every team member excited to come to work every morning.
  </p>',
    link: "https://www.messagebird.com/en/careers/"
  }
]






---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-jobs.html" %}
  {% include "partials/_articles.html" %}
  {% include "partials/_footer.html" %}
</div>
{% endblock %}
