---
title: Workshops at React Amsterdam
headerBtn: true
speakersMod: speakers_center
speakersTitle: Trainers
headerNav: [
{
text: 'Programmes',
href: '#advanced',
scroll: true
},
{
text: 'Trainers',
href: '#speakers',
scroll: true
},
{
text: 'Conference page',
href: '/'
}
]

footerNav: [
{
text: 'Back to conference website',
href: '/'
},
{
text: 'Sponsorship Opportunities',
href: '/sponsors'
},
{
text: 'Code Of Conduct',
href: '/coc'
},
{
text: 'Email Us!',
href: 'mailto:hi@react.amsterdam'
}
]
speakers: [
  {
    photo: 'kent.jpg',
    name: 'Kent C. Dodds',
    company: 'Trainer, USA',
    desc: "Kent C. Dodds is a world renowned speaker, teacher, and trainer and he's actively involved in the open source community as a maintainer and contributor of hundreds of popular npm packages. Kent is the creator of TestingJavaScript.com and he's an instructor on egghead.io and Frontend Masters. He's also a Google Developer Expert. Kent is happily married and the father of four kids. He likes his family, code, JavaScript, and React.",
    github: 'https://github.com/kentcdodds',
    twitter: 'https://twitter.com/kentcdodds',
    site: 'https://kentcdodds.com/'
  },
  {
    photo: 'kitze.jpg',
    name: 'Kitze',
    company: 'ReactAcademy, Macedonia',
    desc: 'Teaching React & Javascript at <a href="https://www.reactacademy.io/" target="_blank">React Academy</a>. Cares about open source, made and maintains <a href="http://sizzy.co/" target="_blank">sizzy.co</a>, <a href="https://github.com/kitze/custom-react-scripts" target="_blank">custom-react-scripts</a>, and <a href="https://github.com/kitze/mobx-router" target="_blank">mobx-router</a>. He had the chance to work and experiment with a variety of languages and frameworks.',
    github: 'https://github.com/kitze',
    twitter: 'https://twitter.com/thekitze'
  },
  {
    photo: 'max.jpg',
    name: 'Max Stoiber',
    company: 'Spectrum, Austria',
    desc: "Max is the technical cofounder of Spectrum.chat, the community platform of the future. He also makes styled-components, react-boilerplate, micro-analytics and a bunch of other open source projects and he co-organises the ReactVienna meetup. He loves to travel, to brew rad coffee and to ski beautiful mountains.",
    github: 'https://github.com/mxstbr',
    twitter: 'https://twitter.com/mxstbr',
    site: 'https://mxstbr.com/'
  },
  {
    photo: 'alex.jpg',
    name: 'Alex Lobera',
    company: 'ReactJS.Academy / LeanJS',
    desc: "Experienced Full-stack Developer passionate about JavaScript, React and
GraphQL. 15 years of experience in the software industry, including successful
startups like Stella&Dot. Instructor & speaker. Organizer of the JavaScript
London Meetup and other popular meetups in the EU. Alex started
developing with React in April 2015 and taught his first React workshop in
May 2016. Alex holds a computer science degree and he is also a certified
Spanish teacher.",
    github: 'https://github.com/alexlbr',
    twitter: 'https://twitter.com/alex_Lobera',
    site: 'https://medium.com/@alex_lobera'
  },
  {
    photo: 'horacio.jpg',
    name: 'Horacio Herrera',
    company: 'ReactJS.Academy / LeanJS',
    desc: "Horacio is a Designer, front-end developer and coach at LeanJS. He started
working with startups as a front-end designer, and quickly changed his path
towards front-end development, UI/ UX. Horacio is passionate about building
products that deliver real value to users, and making users happier with
them. Horacio is extremely passionate about React Native and the winner of
the last React Native hackathon at the ReactEurope. Horacio is also part of
the react-navigation organizations maintainers.",
    github: 'https://github.com/horacioh',
    twitter: 'https://twitter.com/hhg2288',
    site: 'https://medium.com/@hhg2288'
  },
  {
    photo: 'andrey.jpg',
    name: 'Andrey Okonetchnikov',
    company: 'Freelance, Austria',
    desc: "Andrey is a Russian-born UI developer with an experience in both design and development who specializes in interaction design, design systems and modern frontend development. Andrey is a co-organizer of ReasonConf, ReactVienna community, and co-creator of ColorSnapper — a macOS color picker, maintainer of several popular open source projects like react-dropzone and lint-staged. He loves mountain biking, snowboarding, and specialty coffee.",
    github: 'https://github.com/okonet',
    twitter: 'https://twitter.com/okonetchnikov',
    site: 'https://okonet.ru/'
  },
  {
    photo: 'artem.jpg',
    name: 'Artem Sapegin',
    company: 'Wayfair, Germany',
    desc: "Artem is a frontend developer living in Berlin, passionate photographer and owner of crazy dogs. Creator of React Styleguidist.",
    github: 'https://github.com/sapegin',
    twitter: 'https://twitter.com/iamsapegin',
    site: 'http://sapegin.me/'
  },
  {
    photo: 'michel.jpg',
    name: 'Michel Weststrate',
    company: 'Consultant, Netherlands',
    desc: "Michel has been working with TypeScript full time for the last 3 years. He authored several open source libraries (such as MobX and MobX-state-tree) that are written in TypeScript and leverage some of it's finest features.",
    github: 'https://github.com/mweststrate',
    twitter: 'https://twitter.com/mweststrate',
    site: 'https://michel.codes'
  }
]






---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}
<div class="main js-main">
  {% include "partials/_hero-workshops.html" %}
  {% include "partials/_workshops.html" %}
  {% include "partials/_speakers.html" %}
  {% include "partials/_guarantee.html" %}
  {% include "partials/_footer.html" %}
</div>
{% endblock %}
