<section class="section awards" id="awards" style="background-image: url(img/footer-bg.png)">
  <div class="container">
    <h3 class="section__title">{{ pagesPieceOfTexts.rosawards__title }}</h3>
    <div class="awards__img">
      <img src="img/award.png" alt="Award">
    </div>
    <div class="awards__text section__text text">
      <p>
        {{ pagesPieceOfTexts.rosawards__text }}
      </p>
    </div>
  </div>
  <div class="awards__nominations nominations">
    <div class="nominations__title">{{ pagesPieceOfTexts.nominations__title }}</div>
    <div class="nominations__grid">
      <div class="nominations__item">{{ pagesPieceOfTexts.nominations__titleone | safe }}</div>
      <div class="nominations__item">{{ pagesPieceOfTexts.nominations__titletwo | safe }}</div>
      <div class="nominations__item">{{ pagesPieceOfTexts.nominations__titlethree | safe }}</div>
      <div class="nominations__item">{{ pagesPieceOfTexts.nominations__titlefour | safe }}</div>
      <div class="nominations__item">{{ pagesPieceOfTexts.nominations__titlefive | safe }}</div>
    </div>
  </div>
  <div class="container">
    <div class="awards__btn">
      <a href="https://osawards.com/react" class="btn btn--border">More about React open source awards</a>
    </div>
  </div>
</section>
