<section class="section giving-back" id="diversity">
	<div class="container">
		<h3 class="section__title">Giving back to community</h3>
		<div class="section__text text giving-back__text">
			<p>
				We welcome people from all walks of life in our community, and we are a proud partner of initiatives like
				Unicorns in Tech, the global tech network for LGBT professionals and straight allies. We know that supporting
				diversity inside and outside IT must not end at mere statements, which is why we have a diversity scholarship
				program.
			</p>
			<p style="margin-top: 16px">On top of our self-funded tickets pool, we're greatly thankful to <strong>GitHub</strong> for sponsoring extra 30 tickets. Make React community a better place, support our scholarship programme!</p>
			<a href="https://github.com" target="_blank"><img src="img/diversity-gh.svg" alt="GitHub" class="giving-back__sponsor"></a>
		</div>
		<div class="status-bar">
			<div class="status-bar__title">30 of 30 extra diversity scholarships sponsored</div>
			<div class="status-bar__line">
				<div class="status-bar__progress" style="width:50%"></div>
			</div>
		</div>
		<div class="giving-back__btns">
			<a href="https://medium.com/@ReactAmsterdam/apply-for-a-diversity-scholarship-attend-react-amsterdam-2019-for-free-65cd27d17a33" class="btn btn--border">Apply for diversity scholarship</a>
			<a href="mailto:hi@react.amsterdam" class="btn btn--gradient">Sponsor diversity tickets</a>
		</div>
	</div>
	<div class="giving-back__faces">
		<img src="img/faces.png" alt="Faces">
	</div>
</section>
