<section class="section event" id="event">
  <div class="container">
    <h3 class="section__title event__heading">The event</h3>
    <div class="event__suptitle">React Amsterdam is a celebration of good things coming together:</div>
    <div class="event__title title-gradient">React that rocks and spring in Amsterdam that bl<span class="leaf">o</span>ssoms</div>
    <div class="event__text section__text text">
      <p>
        A full-day, two-track conference on all things React, gathering Front-end and Full-stack developers across the
        globe in the tech heart of Europe. We're coming back with a new gig on <strong>April 10-12, 2019.</strong> Mark your calendars for
        the biggest React community event.
      </p>
    </div>
    <div class="event__items">
      <div class="event__item">
        <a href="/workshops" class="e-item">
          <div class="e-item__header">Wednesday</div>
          <div class="e-item__content">
            <div class="e-item__date">10th</div>
            <div class="e-item__footer">Workshops day</div>
          </div>
        </a>
      </div>
      <div class="event__item">
        <a href="/workshops" class="e-item">
          <div class="e-item__header">Thursday</div>
          <div class="e-item__content">
            <div class="e-item__date">11th</div>
            <div class="e-item__footer">Workshops day</div>
          </div>
        </a>
      </div>
      <div class="event__item">
        <a href="#schedule" class="e-item js-scroll-link">
          <div class="e-item__header">Friday</div>
          <div class="e-item__content">
            <div class="e-item__date">12th</div>
            <div class="e-item__footer">Conference day</div>
          </div>
        </a>
      </div>
      <div class="event__item">
        <a href="#extended" class="e-item">
          <div class="e-item__header">Saturday</div>
          <div class="e-item__content">
            <div class="e-item__date">13th</div>
            <div class="e-item__footer">Tour day</div>
          </div>
        </a>
      </div>
    </div>
    <div class="event__text section__text text">
      <p>
        Same as last year, days before (and after) the main event, we'll host a training day, with three workshops on advanced React, GraphQL as well as a crash course on React Native.
      </p>
      <p style="margin-top: 10px;">
        For more fun activities with networking with our community, join our official <a class="icon-link" href="https://reactamsterdam.slack.com/join/shared_invite/enQtMjk5OTk2Njk2MDUxLTJiYzcwMmVmNzA2M2ViMzQzNjczMmViYTljNmUyZjAxYjNlMWJkNWViOWI5YTEzZDZjNTIxODkxMGZlYWYxYmU" target="_blank">{{mixins.icon('sl')}}Slack channel</a>
      </p>
    </div>
  </div>
</section>
