<section class="section event" id="event">
  <div class="container">
    <h3 class="section__title event__heading">{{ pagesPieceOfTexts.event__title }}</h3>
    <div class="event__suptitle">{{ pagesPieceOfTexts.event__subtitle }}</div>
    <div class="event__title title-gradient">{{ pagesPieceOfTexts.event_boldtitle | safe }}</div>
    <div class="event__text section__text text">
      {{ pagesPieceOfTexts.event__text | safe }}
    </div>
    <div class="event__items">
      <div class="event__item">
        <div class="e-item">
          <div class="e-item__header">Wednesday</div>
          <div class="e-item__content">
            <div class="e-item__date">15th</div>
            <div class="e-item__footer">Workshops &<br> Meetups</div>
          </div>
        </div>
      </div>
      <div class="event__item">
        <div class="e-item">
          <div class="e-item__header">Thursday</div>
          <div class="e-item__content">
            <div class="e-item__date">16th</div>
            <div class="e-item__footer">Workshops &<br> Meetups</div>
          </div>
        </div>
      </div>
      <div class="event__item">
        <div class="e-item js-scroll-link">
          <div class="e-item__header">Friday</div>
          <div class="e-item__content">
            <div class="e-item__date">17th</div>
            <div class="e-item__footer">Conference day</div>
          </div>
        </div>
      </div>
      <div class="event__item">
        <div class="e-item">
          <div class="e-item__header">Saturday</div>
          <div class="e-item__content">
            <div class="e-item__date">18th</div>
            <div class="e-item__footer">Tour day</div>
          </div>
        </div>
      </div>
    </div>
    <div class="event__text section__text text">
      <p style="margin-top: 10px;">
      {# {{ pagesPieceOfTexts.socials__slack | safe }} TODO: insert slack icon #}
        For more fun activities with networking with our community,<br> join our official <a class="icon-link" href="https://reactamsterdam.slack.com/join/shared_invite/enQtMjk5OTk2Njk2MDUxLTJiYzcwMmVmNzA2M2ViMzQzNjczMmViYTljNmUyZjAxYjNlMWJkNWViOWI5YTEzZDZjNTIxODkxMGZlYWYxYmU" target="_blank">{{mixins.icon('sl')}}Slack channel</a>
      </p>
    </div>
  </div>
</section>
