<section class="section extended">
  <div class="container">
    <h3 class="section__title">Extended program</h3>
    <div class="extended__items">
      <div class="extended__item">
        <div class="party-item">
          <div class="party-item__header" style="background-image: url(img/party.jpg)">
            <div class="party-item__header-inner">
              <div class="party-item__title">Community preparties</div>
              <div class="party-item__subtitle">April 10-11</div>
            </div>
          </div>
          <div class="party-item__content">
            <p>TDB</p>
            <!--<p>18:00</p>-->
            <!--<p>Wynand Fockink Tasting room</p>-->
            <!--<p>Pijlsteeg 31</p>-->
            <!--<p>1012 HH Amsterdam</p>-->
          </div>
        </div>
      </div>
      <div class="extended__item">
        <div class="party-item">
          <div class="party-item__header" style="background-image: url(img/dj.jpg)">
            <div class="party-item__header-inner">
              <div class="party-item__title">The biggest React party worldwide</div>
              <div class="party-item__subtitle">React meets Friday the 12th</div>
            </div>
          </div>
          <div class="party-item__content">
            <p>Get ready for an immersive artistic experiences brought to you by local React community and FIBER festival</p>
            <!--<a href="#">Infected Mushroom</a>,  <a href="#">Above & Beyond</a>, <a href="#">Markus Shulz</a>,  <a href="#">Sander van Doorn</a>,-->
            <!--<a href="#">Armin Van Buuren</a>,  <a href="#">W&W</a>,  <a href="#">Skrillex</a>,  <a href="#">Arty</a>,  <a href="#">Knife  Party</a>,  <a href="#">Cosmic Gate</a>-->
          </div>
        </div>
      </div>
      <div class="extended__item">
        <div class="party-item">
          <div class="party-item__header" style="background-image: url(img/exploration.jpg)">
            <div class="party-item__header-inner">
              <div class="party-item__title">Amsterdam exploration day</div>
              <div class="party-item__subtitle">By bike, by boat, by foot</div>
            </div>
          </div>
          <div class="party-item__content">
            <p>TBD</p>
            <!--<p>10:00  Breakfast</p>-->
            <!--<p>11:00  Bike trip</p>-->
            <!--<p>13:00  Boat trip</p>-->
            <!--<p>20:00  Final beers</p>-->
          </div>
        </div>
      </div>
    </div>
    <!--<div class="extended__btn">-->
      <!--<a href="#" class="theme-link btn btn&#45;&#45;border">More details</a>-->
    <!--</div>-->
  </div>
</section>
