<div class="hero ">
  <video class="hero__video" preload="auto" muted="" autoplay="" loop="" poster="img/dummy_bg.jpg">
    <source src="img/video/video.webm" type="video/webm">
    <source src="img/video/video.mp4" type="video/mp4">
  </video>
  <div class="hero__inner">
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo.svg" alt="Logo"></a>
    </div>
    <div class="hero__suptitle">April 10-12, 2019, Kromhouthal, Amsterdam</div>
    <h1 class="hero__title">THE BIGGEST REACT CONFERENCE WORLDWIDE</h1>
    <div class="hero__info">
      <ul class="h-list">
        <li class="h-list__item">
          <div class="h-list__value">2</div>
          <div class="h-list__text">
            <span class="h-list__text-top">Tracks</span>
            <br>
            General + React Native
          </div>
        </li>
        <li class="h-list__item">
          <div class="h-list__value">25+</div>
          <div class="h-list__text">
            <span class="h-list__text-top">Speakers</span>
            <br>
            Sharing newest insights
          </div>
        </li>
        <li class="h-list__item">
          <div class="h-list__value">1300 <span class="h-list__icon h-list__icon_anim">{{mixins.icon('heart')}}</span></div>
          <div class="h-list__text">
            <span class="h-list__text-top">React devs</span>
            <br>
            From all over the globe
          </div>
        </li>
      </ul>
    </div>
    <div class="hero__btn">
      <a href="https://www.eventbrite.com/e/react-amsterdam-conference-2019-tickets-51631771017" class="btn btn--gradient">Reserve Your Spot</a>
    </div>
  </div>
</div>
