<div class="hero" style="background-image:url(img/jobs-bg.png);">
  <div class="hero__inner">
    <div class="hero__logo">
      <a href="https://react.amsterdam/" class="logo"><img src="img/logo.svg" alt="Logo"></a>
    </div>
    <div class="hero__suptitle">React Amsterdam Conference</div>
    <h1 class="hero__title">TOP REACT JOBS</h1>
    <div class="hero__info">
      <ul class="h-list h-list_min">
        <li class="h-list__item">
          <div class="h-list__value">12</div>
          <div class="h-list__text">Partners</div>
        </li>
        <li class="h-list__item">
          <div class="h-list__value">35+</div>
          <div class="h-list__text">Job offers</div>
        </li>
      </ul>
    </div>
  </div>
</div>
