<div class="hero" style="background-image:url(img/workshops-bg.jpg);">
  <div class="hero__inner">
    <div class="hero__logo">
      <a href="/" class="logo"><img src="img/logo-summit.svg" alt="React Summit Amsterdam"></a>
    </div>
    <div class="hero__suptitle">Workshops at React Summit</div>
    <h1 class="hero__title">LEARN FROM THE BEST
      TRAINERS WORLDWIDE</h1>
    <div class="hero__info">
      <ul class="h-list">
        <li class="h-list__item">
          <div class="h-list__value">2</div>
          <div class="h-list__text">Days</div>
        </li>
        <li class="h-list__item">
          <div class="h-list__value">8</div>
          <div class="h-list__text">Trainers</div>
        </li>
        <li class="h-list__item">
          <div class="h-list__value">370 <span class="h-list__icon"><img src="img/tickets.png" alt=""/></span></div>
          <div class="h-list__text">Attendees</div>
        </li>
      </ul>
    </div>
  </div>
</div>
