<section class="section mc" style="background-image: url(img/mc-bg.png)">
  <div class="container container--l">
    <h3 class="section__title">Our MC's</h3>
    <div class="mc-list">

      {% for item in mcs %}
        <div class="mc-list__item">
          <div class="speaker speaker--mc">

            <div class="speaker__photo">
              <div class="speaker__photo-wrap">
                <img src="{{ item.avatar.url }}" alt="{{ item.name }}">
              </div>
            </div>
            <div class="speaker__name">{{ item.name }}</div>
            <div class="speaker__company">{{ item.company }}, {{ item.country }}</div>
            <div class="speaker__desc">
              {{ item.bio }}
            </div>
            <div class="speaker__socials">
              <a href="{{ item.githubUrl }}" target="_blank" class="speaker__social-link">{{mixins.icon('gh')}}</a>
              <a href="{{ item.twitterUrl }}" target="_blank" class="speaker__social-link">{{mixins.icon('tw')}}</a>
            </div>
          </div>
        </div>
      {% endfor %}



    </div>
  </div>
</section>
