<section class="section mc" style="background-image: url(img/mc-bg.png)">
  <div class="container container--l">
    <h3 class="section__title">Our MC's</h3>
    <div class="mc-list">

      <div class="mc-list__item">
        <div class="speaker speaker--mc">

          <div class="speaker__photo">
            <div class="speaker__photo-wrap">
              <img src="img/speakers/gant.jpg" alt="Gant Laborde">
            </div>
          </div>
          <div class="speaker__name">Gant Laborde</div>
          <div class="speaker__company">Netflix, USA</div>
          <div class="speaker__desc">
            Director of Open Source at Formidable and the author of libraries like Slick Carousel, McFly, react-music,
            webpack-dashboard, Spectacle.
          </div>
          <div class="speaker__socials">
            <a href="#" target="_blank" class="speaker__social-link">{{mixins.icon('gh')}}</a>
            <a href="#" target="_blank" class="speaker__social-link">{{mixins.icon('tw')}}</a>
          </div>
        </div>
      </div>

      <div class="mc-list__item">
        <div class="speaker speaker--mc">
          <div class="speaker__photo">
            <div class="speaker__photo-wrap">
            <img src="img/speakers/mettin.jpg" alt="Mettin Parzinski">
            </div>
          </div>
          <div class="speaker__name">Mettin Parzinski</div>
          <div class="speaker__company">Formidable, USA</div>
          <div class="speaker__desc">
            Front-end web/mobile developer working on Expo and React Native.
          </div>
          <div class="speaker__socials">
            <div class="speaker__socials">
              <a href="#" target="_blank" class="speaker__social-link">{{mixins.icon('gh')}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
