<section class="section media-box">
  <div class="container">
    <h3 class="section__title">Feel The Vibes</h3>
  </div>
  <div class="media-box__grid">
    <div class="m-grid">
      <div class="m-grid__item m-grid__1">
        <!--<img src="img/media/1.jpg" alt="Test">-->
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/K_JIIF5xYS4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <a href="https://www.facebook.com/reactamsterdam/photos/a.616220308728067/616223898727708/?type=3&theater" target="_blank" class="m-grid__item m-grid__2">
        <img src="img/media/2.jpg" alt="Test">
      </a>
      <a href="https://www.facebook.com/reactamsterdam/photos/a.616220308728067/616223018727796/?type=3&theater" target="_blank" class="m-grid__item m-grid__3">
        <img src="img/media/3.jpg" alt="Test">
      </a>
      <a href="https://www.facebook.com/reactamsterdam/photos/a.616220308728067/616221435394621/?type=3&theater" target="_blank" class="m-grid__item m-grid__4">
        <img src="img/media/4.jpg" alt="Test">
      </a>
      <a href="" target="_blank" class="m-grid__item m-grid__5">
        <!--<img src="img/media/5.jpg" alt="Test">-->
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bLgrUrPJdKE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </a>
      <a href="https://www.facebook.com/reactamsterdam/photos/a.616220308728067/617227091960722/?type=3&theater" target="_blank" class="m-grid__item m-grid__6">
        <img src="img/media/6.jpg" alt="Test">
      </a>
      <a href="https://www.facebook.com/reactamsterdam/photos/a.616220308728067/616221445394620/?type=3&theater" target="_blank" class="m-grid__item m-grid__7">
        <img src="img/media/7.jpg" alt="Test">
      </a>
    </div>
  </div>
  <div class="media-box__text section__text text">
    <p>
      Check out our <a href="{{ conference.youtubeUrl }}" target="_blank">YouTube channel</a> for more talk recordings of previous editions and meetups.
    </p>
  </div>
</section>
