<meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}ReactJS, React, React Native, Reason, GraphQL framework, JavaScript, development, Facebook, workshops, conference{% endif %}">
<meta name="description" content="{% if description %}{{ description }}{% else %}React Amsterdam is a full day two-track conference of all things React, gathering Front End developers across the globe in the tech heart of Europe.{% endif %}">
<meta property="og:url" content="{% if ogUrl %}{{ ogUrl }}{% else %}https://react.amsterdam{% endif %}"/>
<meta property="og:title" content="{% if title %}{{ title }}{% else %}React Amsterdam - The Biggest React Conference Worldwide{% endif %}"/>
<meta property="og:description"
      content="{% if description %}{{ description }}{% else %}React Amsterdam is a full day two-track conference of all things React, gathering Front End developers across the globe in the tech heart of Europe.{% endif %}"/>
<meta property="og:image" content="{% if ogImage %}{{ ogImage }}{% else %}https://react.amsterdam/img/og2020.jpg{% endif %}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@reactamsterdam">
