<section class="section workshops">
  <div class="container">
    <div class="workshops__title title-gradient">Workshops at React Amsterdam Conference</div>
    <div class="workshops__description text">
      <p>On April 10 and 11th, 2019, to extend your conference experience, we'll host multiple workshops targeted both at the React newcomers and hardcore fans. Take the full advantage of your conference visit and get training from our best speakers and trainers.</p>
      <p>Workshops will be hosted in individual locations, different from the conference venue but in short reach. More details will be announced later, and sent in pre-workshop email.</p>
    </div>
    <div class="workshops__content">
      <div class="workshop" id="advanced">
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">Kent C. Dodds</div>
          <div class="workshop-item__content">
            <h3>Advanced React (April 10)</h3>
            <p>
              Writing applications with React is awesome. But sometimes creating reusable components can be a bit of a trick. And knowing the right level of abstraction and what libraries to use can be frustratingly difficult. Luckily for us, React is constantly getting better. Making React components that can be used in multiple places is not hard. What is hard is when the use cases differ. Without the right patterns, you can find yourself with a highly complex component that requires a lot of configuration props and way too many if statements. With this course, you'll not only learn great patterns you can use, but also the strengths and weaknesses of each so you know which to reach for to provide your components the flexibility and power you need. We'll also take a look at how to use React's built-in state management capabilities to solve common problems for production applications in elegant and simple ways.
              <br/>
              I have contributed to and published some of the most successful React components in the React ecosystem. Through that experience, I've learned and taught patterns that enhance flexibility, usefulness, and simplicity. I've taught thousands of developers how to be more effective with React. Join us!
            </p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
             <li> - Use the Compound Components Pattern to write React components that implicitly share state while giving rendering flexibility to the user</li>
             <li> - React Hooks best practices to easily share logic and optimize for performance</li>
             <li> - Provide total logic control with the Controlled Props and State Reducer Patterns</li>
             <li> - Take advantage of React’s Context API to share state throughout the application with the Provider Pattern</li>
             <li> - Use React Suspense for data-loading optimization and lazy-loading of code</li>
            </ul>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>Experience with modern JavaScript features and fundamental React concepts</p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Workhop level</div>
          <div class="workshop-item__content">
            <p>Intermediate/advanced JavaScript/React developers</p>
          </div>
        </div>
      </div>
      <div class="workshop" id="testing">
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">Kent C. Dodds</div>
          <div class="workshop-item__content">
            <h3>Testing React (April 11)</h3>
            <p>
              Developing and deploying production applications with React is one thing, but being confident that you're not shipping a hidden bug is something else! Knowing how to configure and use testing tools is critical to your success in shipping with confidence, and React's model opens up testing productivity most of us couldn't even dream of before.
              <br/>
              I have personally written tens of thousands of tests for production applications and my open source modules. Thousands of developers have improved their testing knowledge from my testing training material.
            </p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
              <li>- Learn the fundamentals of what a test is and what role testing frameworks play</li>
              <li>- Configure Jest for a client-side React project</li>
              <li>- Learn what Code Coverage is and how to properly use that metric</li>
              <li>- Write unit tests for JavaScript utilities and React components</li>
              <li>- Learn what snapshot testing is and how to use it effectively</li>
              <li>- Write integration tests for a React application</li>
              <li>- Configure Cypress for a web application</li>
              <li>- Write E2E (end-to-end) tests with Cypress</li>
            </ul>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>Experience with modern JavaScript features and fundamental React concepts.</p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Workhop level</div>
          <div class="workshop-item__content">
            <p>All JavaScript/React developers</p>
          </div>
        </div>
      </div>
      <div class="workshop" id="graphql">
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">Kitze</div>
          <div class="workshop-item__content">
            <h3>GraphQL Workshop (April 11)</h3>
            <p>
              This one-day workshop will teach you everything you need to know to incorporate GraphQL into your application. During the first half of the workshop, we'll explain the basics of a GraphQL and we’re gonna build a GraphQL server, covering best practices for architecting your schema, error handling, authentication, and permission layers.
              <br/>
              In the second half of the workshop, we’ll connect our GraphQL server to a React application with Apollo Client. We’ll break down the modular architecture of the client and teach you how to set everything up and use queries and mutations. We’ll show a few different approaches for working with Apollo: Higher Order Components, Render Props, and hooks. Throughout the course of the workshop, you’ll learn practical tips for using GraphQL in production.
            </p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
              <li>- Basics of GraphQL</li>
              <li>- Set up a GraphQL backend</li>
              <li>- Setup authentication and permissions layers to secure your GraphQL APIs</li>
              <li>- Using GraphiQL to explore and test your GraphQL API</li>
              <li>- Setting up a GraphQL client with Apollo</li>
              <li>- Fetching and rendering data in your react app with GraphQL queries (using HOCs, render props, hooks)</li>
              <li>- Inserting data with GraphQL mutations</li>
              <li>- Updating and deleting data with GraphQL mutations</li>
              <li>- Updating the store after a mutation</li>
              <li>- Optimistic updates</li>
            </ul>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>To attend this workshop you need to be familiar with the basics of React, as well as most of the new features in ES2015.</p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Workhop level</div>
          <div class="workshop-item__content">
            <p>All JavaScript developers</p>
          </div>
        </div>
      </div>
      <div class="workshop" id="modern-react">
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">Max Stoiber</div>
          <div class="workshop-item__content">
            <h3>Modern React (April 11)</h3>
            <p>
              After some years of silence, React team had recently landed a number of new additions to it's library enabling application developers to optimize their code both for better performance and maintainability. Max will guide your through emerging patterns and show you by example how you can start applying the new best practices in your production apps.
            </p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
              <li>- Using React Hooks</li>
              <li>- Getting started Concurrent React (Suspense and Time Slicing, previously called "Async React")</li>
              <li>- Why do React.lazy and React.memo exist?</li>
              <li>- Utilising Compound Components</li>
              <li>- Render Props</li>
              <li>- Performance Profiling with the new React DevTools</li>
            </ul>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>To attend this workshop you need to be familiar with the basics of React, as well as most of the new features in ES2015.</p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Workhop level</div>
          <div class="workshop-item__content">
            <p>Intermediate/advanced JavaScript/React developers</p>
          </div>
        </div>
      </div>
      <div class="workshop" id="react-native">
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">ReactJS.Academy</div>
          <div class="workshop-item__content">
            <h3>React Native Workshop (April 11)</h3>
            <p>
              On completion of the training each trainee will:
              <ul>
                <li>- Understand the core user interactions in React Native</li>
                <li>- Be able to create reusable and maintainable React Native UI</li>
                <li>- Understand the best practices and patterns for building real-world production-ready React Native applications</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
              <li>- Foundation (Architecture, Project setup, Layout, Styling, Forms)</li>
              <li>- Navigation (Types of navigations, react-navigation</li>
              <li>- Animations (Basic Animations, Animated API, Composing animations)</li>
            </ul>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>
              Before the workshop, please follow the <a href="https://facebook.github.io/react-native/docs/getting-started" target="_blank">installation instructions</a> to prepare all the software dependencies. macOS devices are preferred, but *nix and Windows powered machines would also work, although you won't be able to build iOS applications.
              No React Native knowledge is required. Participants should be familiar with Javascript and ideally, basics of React.
            </p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Workhop level</div>
          <div class="workshop-item__content">
            <p>Intermediate JavaScript/React developers, Junior React Native developers</p>
          </div>
        </div>
      </div>
      <div class="workshop" id="design-systems">
        <div class="workshop-item workshop-item_lg">
          <div class="workshop-item__title">Andrey Okonetchnikov & Artem Sapegin</div>
          <div class="workshop-item__content">
            <h3>Design Systems for React Developers</h3>
            <p>
              Development of digital products is a complex process that involves multiple stakeholders and roles: managers, designers, engineers, QA, and customers. This increases the communication overhead, slows down the process, and oftentimes results and less than ideal user experience.
            </p>
            <ul>
              <li>- How to communicate design ideas between different stakeholders effectively?</li>
              <li>- How to deliver consistent UI without constant supervising?</li>
              <li>- How to ensure same problems not being solved multiple times?</li>
            </ul>
            <p>Design systems offer a systematic approach to the process of product creation. This approach establishes an organization-wide design language that can be backed into a UI library and the styleguide and becomes the single source of truth for the entire organization. Component libraries and living styleguides encourage reuse, promote consistency, improve team productivity, help to identify common patterns and solve similar problems only once.</p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Table of contents</div>
          <div class="workshop-item__content">
            <ul>
              <li>- Understand what a design system is and how to start thinking in design constraints</li>
              <li>- Analyze and split your UI into small reusable components</li>
              <li>- Setup an environment to create components in isolation</li>
              <li>- Create a living style guide and start building a component library</li>
              <li>- Structure your application around components</li>
              <li>- Write maintainable styles for your components based on the design system</li>
            </ul>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Prerequisites</div>
          <div class="workshop-item__content">
            <p>To attend this workshop you need to be familiar with the basics of React, as well as most of the new features in ES2015.</p>
          </div>
        </div>
        <div class="workshop-item">
          <div class="workshop-item__title">Workhop level</div>
          <div class="workshop-item__content">
            <p>Intermediate/advanced JavaScript/React developers</p>
          </div>
        </div>
      </div>
    </div>
    <div class="workshops__btn">
      <a href="https://www.eventbrite.com/e/react-amsterdam-conference-2019-tickets-51631771017#tickets" class="btn btn--gradient">Workshop tickets</a>
    </div>
  </div>
</section>
