/* Header
-----------------------------------------------------------------------------*/

.header {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .35);
	z-index: 15;

	.container{
		max-width: 1420px;
		display: flex;
	}

	@media only screen and (max-width : 800px) {
		visibility: hidden;
		top: 0;
		bottom: auto;
		background: transparent;

		.container{
			height: 100vh;
		}
	}
}

.main-nav{
	display: flex;
	background: transparent;
	justify-content: space-between;

	&.closed{
		display: block;
	}

	.socials{
		margin: 12px 0 0 90px;

		@media only screen and (max-width : 1000px) {
			margin: 12px 0 12px 0;
			justify-content: center;
		}
	}

	@media only screen and (max-width : 800px) {
		flex-direction: column-reverse;
		display: block;
		visibility: hidden;
		padding: 0;
		margin: auto;
		width: 320px;
		opacity: 0;
		transition: all 0.2s;

		.socials{
			padding: 12px 0;
			margin: 0;
		}
	}

	&.open{
		display: flex;
		background: rgba(0, 0, 0, 0.5);

		visibility: visible;
		opacity: 1;
	}
}

.menu-toggle{
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	width: 42px;
	height: 42px;
	display: none;
	cursor: pointer;
	background: none;
	justify-content: center;
	padding: 0;
	margin: 0 0 0 10px;
	border: none;
	outline: none;
	z-index: 2;
	visibility: visible;

	&:hover{
		span:nth-child(1){
			transform: translateX(4px);
		}

		span:nth-child(2){
			transform: translateX(0);
		}

		span:nth-child(3){
			transform: translateX(-4px);
		}
	}

	span{
		display: block;
		width: 30px;
		height: 4px;
		background: #fff;
		margin: 0 auto;
		transition: all ease 0.2s;

		&:nth-child(2){
			margin: 8px auto;
		}
	}

	&.open{
		span{
			&:nth-child(1){
				transform: translate(0, 12px) rotate(45deg);
			}
			&:nth-child(2){
				transform: translate(0, 20px);
				opacity: 0;
			}
			&:nth-child(3){
				transform: translate(0, -12px) rotate(-45deg);
			}
		}
	}

	@media only screen and (max-width : 800px) {
		display: block;
	}
}


.main-menu{
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-end;
	font-weight: 300;

	&__item{
		position: relative;

		&:after{
			content: '';
			position: absolute;
			left: -2px;
			right: -2px;
			bottom: -100%;
			height: 100%;
			background: #000;
		}

		&.accent{
			margin: 0 0 0 16px;
			.main-menu__link{
				padding: 0 34px;
				color: $clr-black;
				background: linear-gradient(135deg, #99ff00 0%,#00dd3b 100%);
			}
		}
	}

	&__link{
		position: relative;
		font: 13px/60px $lato;
		display: block;
		height: 59px;
		padding: 0 18px;
		color: #fff;
		white-space: nowrap;
		z-index: 1;
		transition: all linear 0.1s;
		border: none;

		&:hover{
			background: #000;
			color: #fff
		}
	}

	@media only screen and (max-width : 1000px) {

		&__link{
			padding: 0 10px;
		}
	}

	@media only screen and (max-width : 800px) {
		left: 0;
		right: 0;
		flex-direction: column;
		text-align: center;

		&__item{
			display: block;

			&:after{
				display: none;
			}

			&.accent{
				margin: 0;
			}
		}

		&__link{
			font-size: 16px;
		}
	}
}
