.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-mask_1 {
	font-size:(308.75/16)*1rem;
	width:(241/308.75)*1em;
}
.icon-mask_10 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_11 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_12 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_13 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_14 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_15 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_2 {
	font-size:(308.75/16)*1rem;
	width:(241/308.75)*1em;
}
.icon-mask_3 {
	font-size:(308.938/16)*1rem;
	width:(240.75/308.938)*1em;
}
.icon-mask_4 {
	font-size:(308.75/16)*1rem;
	width:(241/308.75)*1em;
}
.icon-mask_5 {
	font-size:(308.906/16)*1rem;
	width:(252/308.906)*1em;
}
.icon-mask_6 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_7 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_8 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
.icon-mask_9 {
	font-size:(308.781/16)*1rem;
	width:(241/308.781)*1em;
}
