/* Buttons
-----------------------------------------------------------------------------*/

.btn-block{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;

	.basic-btn{
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
	}
}

.basic-btn{
	font: 24px/2.5 $lato;
	font-weight: 300;
	text-align: center;
	color: #000;
	background: $clr-green;
	text-align: center;
	display: flex;
	padding: 0 20px;

	&:hover{
	}

	&.yellow{
		border-color: #000;
		background-color: $clr-yellow;
		color: #000;

		&:hover{
			color: #fff;
			background-color: #000;
		}
	}

	&.white{
		border-color: $clr-yellow;
		background-color: #fff;
		color: #000;

		&:hover{
			background-color: $clr-yellow;
		}
	}

	&.bordered{
		line-height: 2.4;
		border: 4px solid $clr-green;
		background: transparent;

		&:hover{
			background: $clr-green;
		}
	}
}