/* Content
-----------------------------------------------------------------------------*/

.logo {
  position: relative;
  width: 104px;
  height: 104px;
  margin: 0 auto;

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../svg/logo.svg) center center no-repeat;
    background-size: 100%;
  }
}

.content {

}

.section {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 34px 0;
  color: #000;

  &.no-min-height {
    min-height: auto;
  }

  &.half-height {
    min-height: 50vh;
  }

  &.no-flex {
    display: block;
    min-height: auto;
  }

  &__title {
    margin: 60px 0 52px;
    text-align: center;
    color: $clr-green;
    font: 110px/1 $latoB;
    text-transform: lowercase;
    letter-spacing: 0.03em;
  }

  &__subtitle {
    font: 36px/1.2 $lato;
    font-weight: 300;
    color: #fff;
    margin: 38px 0;
  }

  &__desc {
    font: 20px/1.6 $lato;
    font-weight: 300;
    color: #fff;
    margin: 38px 0;

    a {
      color: #3c3c3c;
      text-decoration: underline;

      &:hover {
        color: #00dd3b;
      }
    }
  }

  &.home {
    text-align: center;
    background: url(../img/dummy_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
  }

  &.event {
    text-align: center;
    color: $clr-black;

    .socials-wrap {
      margin-top: 60px;
    }

    .section__subtitle,
    .section__desc {
      color: $clr-black;
    }
  }

  &.location {
    color: #fff;
    height: auto;
    padding: 0;
  }

  &.speakers {
  }

  &.shedule {
    color: #000;

    .section__subtitle,
    .section__desc {
      color: $clr-black;
      text-align: center;
    }
  }

  &.greetings {
    min-height: 50vh;
  }

  &.sponsors {
    color: #000;

    .section__title {
      margin: 0 auto 56px;
    }
  }
}

.aligner {
  margin: auto;
}

.home {
  overflow: hidden;

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

    @media all and (max-width: 1024px) {
      display: none;
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../img/overlay_bg.png) center center rgba(0, 0, 0, 0.15);
  }

  &__title {
    font: 44px/1.08 $latoB;
    text-transform: uppercase;
    margin: 16px 0 34px;
    letter-spacing: 0.16em;

    span {
      font-size: 42px;
    }
  }

  &__desc {
    font: 44px/1.42 $latoL;
    text-transform: uppercase;
    font-weight: 300;
    margin: 76px 0 78px;
  }

  &__tip {
    font: 22px/1.2 $latoL;
    font-weight: 400;
    letter-spacing: 0.03em;
    display: block;
    margin: 12px 0;

    span {
      font: 22px/1.2 $lato;
    }
  }

  .container {
    z-index: 1;
  }

  .btn-block {
    margin: 88px auto 0;
  }

  .basic-btn {
    padding: 0 30px;

    @media only screen and (max-width: 320px) {
      padding: 0 10px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.event-stats {
  text-align: center;

  &__item {
    text-align: left;
    display: inline-block;
    overflow: hidden;
    margin: 0 26px;
  }

  &__num {
    font: 46px/1.2 $lato;
    font-weight: 800;
    color: $clr-green;
    float: left;
    margin: 0 12px 0 0;
  }

  &__desc {
    font: 28px/1.2 $lato;
    overflow: hidden;
    padding: 0;
    margin: 0;

    span {
      font: 14px/1.2 $lato;
      display: block;
    }
  }
}

.socials-wrap {
  margin: 35px 0 35px;
  text-align: center;

  &__title {
    font: 40px/1.6 $latoB;
    margin: 30px 0 22px;

    @media only screen and (max-width: 680px) {
      font-size: 30px;
    }
  }

  .socials {
    margin: 22px 0 22px;
  }
}

.socials {
  padding: 0;
  margin: 52px 0 87px;
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 6px;
    vertical-align: top;
  }

  &__link {
    position: relative;
    display: block;
    width: 40px;
    height: 32px;
    color: $clr-green;

    &:hover {
      .icon-tw {
        color: #00d8ff;
      }
      .icon-fb {
        color: #476aa8;
      }
      .icon-yt {
        color: #e62216;
      }
      .icon-gh {
        color: #333;
      }
    }

    .icon-tw {
      position: relative;
      top: -2px;
      font-size: 36px;
    }
    .icon-fb {
      font-size: 32px;
    }
    .icon-yt {
      position: relative;
      top: -3px;
      font-size: 38px;
    }
    .icon-gh {
      font-size: 32px;
    }
  }

  &.small {
    text-align: left;

    .socials__item {
      margin: 0 7px 0 0;
      text-align: center;
    }

    .socials__link {
      display: block;
      width: 32px;
      height: 30px;
      color: #b3b2b2;

      .icon-tw {
        font-size: 28px;
      }
      .icon-fb {
        font-size: 26px;
      }
      .icon-yt {
        font-size: 32px;
      }
      .icon-gh {
        font-size: 26px;
      }
    }

  }
}

.event-info {
  text-align: center;

  .socials-wrap {
    margin: 0 0 86px;
  }

  .socials {
    margin: 32px 0 20px;
  }
}

.slider-wrap {
  height: 728px;
  position: relative;

  .section__title {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 4px 0 0;
    color: #fff;
  }
}

.slider-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 10;
  text-align: right;

  .slick-prev,
  .slick-next {
    display: block;
    position: absolute;
    top: -445px;
    left: 10px;
    width: 100px;
    height: 290px;
    text-indent: -9999px;
    border: none;
    background: url(../svg/arrow_l.svg) center center no-repeat;

    &.slick-disabled {
      display: none !important;
    }
  }

  .slick-next {
    background: url(../svg/arrow_r.svg) center center no-repeat;
    left: auto;
    right: 10px;
  }
}

.slider {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
  height: 100%;

  &__item {
    position: relative;
    height: 728px;
    background-size: cover;
  }
}

.participants-list {
  padding: 0;
  margin: 70px 0 0;
  list-style: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &.orgs {
    justify-content: space-around;
  }

  &__item {
    width: 270px;
    margin: 0 0 35px;
  }

  &__img-wrap {
    position: relative;
    margin: 0;
    width: 270px;
    height: 270px;
  }

  &__img {
    position: relative;
    width: 270px;
    height: 270px;
    display: block;
  }

  &__name {
    font: 30px/1.1 $latoB;
    margin: 44px 0 8px;
  }

  &__info {
    font: 14px/1.64 $latoB;
    margin: 8px 0 29px;
    color: #434343;
  }

  &__topic {
    font: 20px/1.2 $lato;
    margin: 29px 0 24px;
    color: #042239;
  }

  &__desc {
    font: 18px/1.68 $lato;
    color: #5a5959;
    margin: 24px 0;

    a {
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .socials {
    margin: 28px 0 20px;
  }
}

.participants-list_center {
  justify-content: center;
  text-align: center;

  .participants-list__item {
    margin: 0 50px;
  }

  .socials {
    text-align: center;
  }
}

.shedule-list {
  padding: 0;
  margin: 68px 0 0;
  list-style: none;
  font: 24px/1.2 $lato;

  .container + &{
    margin-top: 0;
  }

  &__container {
    max-width: 870px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
  }

  &__container + &__container {
    margin-top: 15px;
  }

  &__item {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 15px 0 16px;

    border-top: 1px solid #dfdfdf;

    &:first-child {
      border: none;
    }

    @extend .clearfix;
  }

  &__time {
    font: 24px/1.2 $latoL;
    font-weight: 200;
    max-width: 13%;
    width: 100%;
    float: left;
  }

  &__speaker {
    font: 24px/1.2 $latoB;
    font-weight: 600;
    max-width: 27%;
    width: 100%;
    float: left;
  }

  &__speaker.full {
    max-width: 80%;
  }

  &__speaker-company {
    color: $clr-gray;
    font: 18px/2 $lato;
  }

  &__desc {
    max-width: 60%;
    flex-grow: 1;
    float: left;
  }

  &__title {
    font: 24px/1.2 $lato;
    font-weight: 500;
    margin: 0;
    padding: 0;

    span {
      color: #929292;
    }

    &.thin {
      font-weight: 300;
    }
  }

  &__p {
    font: 16px/1.68 $lato;
    font-weight: 300;
    margin: 6px 0 0;
    padding: 0;
  }
}

.map {
  position: relative;

  &__content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    color: $clr-black;
    display: flex;
    height: 100%;
    pointer-events: none;
  }

  &__desc {
    padding: 0 20px;
    display: block;
    margin: auto;
    max-width: 880px;
    flex-grow: 1;
  }

  &__title {
    font: 28px/1.38 $lato;
    margin: 0 0 34px;

    span {
      font: 28px/1.38 $latoB;
    }
  }

  .basic-btn {
    padding: 0 50px;
    display: inline-block;
    pointer-events: auto;
  }
}

#map {
  width: 100%;
  height: 385px;

  .gm-style-cc {
    display: none;
  }
}

.sponsors-block {
  text-align: center;
  max-width: 1300px;

  &__desc {
    font: 30px/1.28 $latoL;
    font-weight: 300;
    margin: 75px 0 42px;
    flex-grow: 1;
    width: 100%;
  }

  &__subtitle {
    font: 30px/1.2 $lato;
    font-weight: 300;
    margin: 66px 0 46px;
    flex-grow: 1;
  }

  &__img-wrap {
    display: inline-block;
    vertical-align: middle;
    margin: 25px 3.5%;
  }

  &__img {
    display: block;
  }

  &__show-more {
    font-size: 20px;

    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.sponsors-gold {
  max-width: 1280px;
}

.help {
  font: 18px/1.4 $lato;
  text-align: center;
  margin: 80px 0 50px;

  &__link {
    margin: 0 30px;
    color: $clr-black;

    &:hover {
      color: $clr-green;
    }
  }
}

.submit-proposal_text {
  font: 20px/1.4 $lato;
  margin-bottom:20px;
}

.submit-proposal_button {
  text-align: center;
  justify-content: center;
}

.next-tickets-batch {
  color: #3c3c3c;
  text-decoration: underline;
  font-size: 25px;

  &:hover {
    color: #00dd3b;
  }
}

:root .workshops__title {
  font: 36px/1.2 "Lato", sans-serif;
  font-weight: 300;
  margin: 50px 0 22px;

  @media only screen and (max-width: 680px) {
    font-size: 24px;
  }
}

.workshops {
 .shedule-list__time {
    font-size: 18px;
 }
}

.section__desc {
  strong {
    font-family: $latoB;
  }
}

.guarantee__list {
  margin: auto;
  width: 60%;
  font-size: 18px;
  list-style: none;

  li {
    margin-bottom: 10px;
  }
}

.guarantee__list-bullet {
  display: inline-block;
  margin-right: 15px;
}

.guarantee__benefits {
  list-style: none;
  text-align: justify;
  margin: 0;
  padding: 0;
}

.guarantee__benefits li {
  width: 49.5%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 0 40px;
}
