$icons: (
	  sprite: (width: 3626px, height: 4635px, svgPath: '../img/sprite.svg'),
 	mask_1: (width: 241px, height: 308.75px, backgroundX: 0px, backgroundY: 0px),
 	mask_10: (width: 241px, height: 308.781px, backgroundX: -241px, backgroundY: -309px),
 	mask_11: (width: 241px, height: 308.781px, backgroundX: -482px, backgroundY: -618px),
 	mask_12: (width: 241px, height: 308.781px, backgroundX: -723px, backgroundY: -927px),
 	mask_13: (width: 241px, height: 308.781px, backgroundX: -964px, backgroundY: -1236px),
 	mask_14: (width: 241px, height: 308.781px, backgroundX: -1205px, backgroundY: -1545px),
 	mask_15: (width: 241px, height: 308.781px, backgroundX: -1446px, backgroundY: -1854px),
 	mask_2: (width: 241px, height: 308.75px, backgroundX: -1687px, backgroundY: -2163px),
 	mask_3: (width: 240.75px, height: 308.938px, backgroundX: -1928px, backgroundY: -2472px),
 	mask_4: (width: 241px, height: 308.75px, backgroundX: -2169px, backgroundY: -2781px),
 	mask_5: (width: 252px, height: 308.906px, backgroundX: -2410px, backgroundY: -3090px),
 	mask_6: (width: 241px, height: 308.781px, backgroundX: -2662px, backgroundY: -3399px),
 	mask_7: (width: 241px, height: 308.781px, backgroundX: -2903px, backgroundY: -3708px),
 	mask_8: (width: 241px, height: 308.781px, backgroundX: -3144px, backgroundY: -4017px),
 	mask_9: (width: 241px, height: 308.781px, backgroundX: -3385px, backgroundY: -4326px),
);
