$icons: (
	  sprite: (width: 194px, height: 186px, svgPath: '../img/sprite.svg'),
 	heart: (width: 43.2px, height: 39.7px, backgroundX: 0px, backgroundY: 0px),
 	socials-fb: (width: 9px, height: 19.18px, backgroundX: -44px, backgroundY: -40px),
 	socials-sl: (width: 79.4px, height: 79.2px, backgroundX: -53px, backgroundY: -60px),
 	socials-tw: (width: 21.594px, height: 17.59px, backgroundX: -133px, backgroundY: -140px),
 	socials-yt: (width: 39px, height: 27.25px, backgroundX: -155px, backgroundY: -158px),
);
