$icons: (
	  sprite: (width: 416px, height: 447px, svgPath: '../img/sprite.svg'),
 	earth-globe-with-continents-maps: (width: 46.002px, height: 46.002px, backgroundX: 0px, backgroundY: 0px),
 	heart: (width: 43.2px, height: 39.7px, backgroundX: -47px, backgroundY: -47px),
 	socials-fb: (width: 9px, height: 19.18px, backgroundX: -91px, backgroundY: -87px),
 	socials-gh: (width: 33px, height: 32px, backgroundX: -100px, backgroundY: -107px),
 	socials-med: (width: 35px, height: 35px, backgroundX: -133px, backgroundY: -139px),
 	socials-sl: (width: 79.4px, height: 79.2px, backgroundX: -168px, backgroundY: -174px),
 	socials-tw: (width: 21.594px, height: 17.59px, backgroundX: -248px, backgroundY: -254px),
 	socials-ws: (width: 34px, height: 34px, backgroundX: -270px, backgroundY: -272px),
 	socials-yt: (width: 39px, height: 27.25px, backgroundX: -304px, backgroundY: -306px),
 	tour-marker: (width: 73px, height: 113px, backgroundX: -343px, backgroundY: -334px),
);
