$icons: (
	  sprite: (width: 463px, height: 467px, svgPath: '../img/sprite.svg'),
 	btn-more: (width: 46.41px, height: 19.32px, backgroundX: 0px, backgroundY: 0px),
 	earth-globe-with-continents-maps: (width: 46.002px, height: 46.002px, backgroundX: -47px, backgroundY: -20px),
 	heart: (width: 43.2px, height: 39.7px, backgroundX: -94px, backgroundY: -67px),
 	socials-fb: (width: 9px, height: 19.18px, backgroundX: -138px, backgroundY: -107px),
 	socials-gh: (width: 33px, height: 32px, backgroundX: -147px, backgroundY: -127px),
 	socials-med: (width: 35px, height: 35px, backgroundX: -180px, backgroundY: -159px),
 	socials-sl: (width: 79.4px, height: 79.2px, backgroundX: -215px, backgroundY: -194px),
 	socials-tw: (width: 21.594px, height: 17.59px, backgroundX: -295px, backgroundY: -274px),
 	socials-ws: (width: 34px, height: 34px, backgroundX: -317px, backgroundY: -292px),
 	socials-yt: (width: 39px, height: 27.25px, backgroundX: -351px, backgroundY: -326px),
 	tour-marker: (width: 73px, height: 113px, backgroundX: -390px, backgroundY: -354px),
);
