/*----- FONTS -----*/

$lato:					'Lato', sans-serif;
$latoB:					'LatoBlack', sans-serif;
$latoL:					'LatoLight', sans-serif;
$font-size: 16px;

// end FONT

/*----- COLORS -----*/

$clr-green: #00dd3b;
$clr-gray: #929292;
$clr-yellow: #fedd01;
$clr-black: #1a1d1b;

// end COLORS
