.section
	&__title
		text-align: center
		font-size: 26px
		margin-bottom: 63px
		+regular
		letter-spacing: 0.6px
		+tablet
			margin-bottom: 37px
			font-size: 22px
	&__text
		max-width: 980px
		margin: 0 auto

