.icon-anchor {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-l {
  width: 0.36em;
  height: 1em;
  fill: #00DD3B;
}
.icon-arrow-r {
  width: 0.36em;
  height: 1em;
  fill: #00DD3B;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-fb {
  width: 0.44em;
  height: 1em;
  fill: initial;
}
.icon-gh {
  width: 1.02em;
  height: 1em;
  fill: #f59423;
}
.icon-heart {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-md {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-site {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sl {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tickets {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-vertical-scroll {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-yb {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
